Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Remove stale container visibility verbiage
  docs/design/algorithm.md
Due: prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 15:32:27
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Rename reference_repos to context and add linting
  biome.json
  context/README.md
  justfile
  knip.json
  package.json
  scripts/lint-context.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refine lint script logic and reduce output noise
  justfile
  scripts/check-unused-catalog-entries.ts
  scripts/lint-context.ts
  scripts/lint-dark-mode.ts
  scripts/lint-filenames.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Install moreutils in CI for chronic support
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 16:25:03
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Exclude non-pending tasks from weight sum to fix priority decay
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/repro-neutral-inheritance.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Compliance schema: rework mutations to list of enums and update fixtures
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/balancing.feature.json
  crates/tasklens-core/tests/compliance/fixtures/boost-lead-time.feature.json
  crates/tasklens-core/tests/compliance/fixtures/completion-acknowledgement.feature.json
  crates/tasklens-core/tests/compliance/fixtures/complex-mutation.feature.json
  crates/tasklens-core/tests/compliance/fixtures/container-visibility.feature.json
  crates/tasklens-core/tests/compliance/fixtures/credit-attribution-aggregation.feature.json
  crates/tasklens-core/tests/compliance/fixtures/credit-attribution.feature.json
  crates/tasklens-core/tests/compliance/fixtures/decay.feature.json
  crates/tasklens-core/tests/compliance/fixtures/deletion.feature.json
  crates/tasklens-core/tests/compliance/fixtures/inheritance-credits.feature.json
  crates/tasklens-core/tests/compliance/fixtures/inheritance-place.feature.json
  crates/tasklens-core/tests/compliance/fixtures/inheritance-schedule.feature.json
  crates/tasklens-core/tests/compliance/fixtures/lead-time-inheritance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/lead-time.feature.json
  crates/tasklens-core/tests/compliance/fixtures/repro-neutral-inheritance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/sequential-flow.feature.json
  crates/tasklens-core/tests/compliance/fixtures/task-update-fields.feature.json
  crates/tasklens-core/tests/compliance/fixtures/thermostat.feature.json
  crates/tasklens-core/tests/compliance/fixtures/visibility-place-filtering.feature.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update bytes to v1.11.1
  Cargo.lock
Due: ./scripts/check-filenames.sh --files

refactor(plan): use core algorithm for lead time inheritance
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 19:46:57
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 19:54:55
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 19:56:01
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

refactor(hooks): extract use_prioritized_tasks hook
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_prioritized_tasks.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:02:28
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:27:33
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Retire .beads/issues.jsonl
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:40:44
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:40:56
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:41:03
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Address Gemini code review feedback
  crates/tasklens-ui/src/hooks/use_prioritized_tasks.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:49:56
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 20:52:31
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

feat(ui): show parent task name when editing/creating tasks
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_editor.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 21:00:52
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Refactor Task Editor Layout
  AGENTS.md
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/tests/e2e/specs/task-creation.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  docs/design/view-layer.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 21:59:27
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-03 21:59:38
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

fix(e2e): update Move button selector to match new label
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore(deps): ignore sha2 pre-releases until 0.11.0 stable
  .github/dependabot.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

chore: update biome schema to 2.3.13
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Migrate accessibility tests to Axe and ariaSnapshot
  .agent/skills/playwright-debug/SKILL.md
  crates/tasklens-ui/package.json
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/playwright.d.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-05 20:57:50
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Upgrade samod and adopt reactive persistence streams
  .gitmodules
  Cargo.lock
  crates/tasklens-ui/src/hooks/use_persistence.rs
  justfile
Due: ./scripts/check-filenames.sh --files

Update .agent/skills/playwright-debug/SKILL.md
  .agent/skills/playwright-debug/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Format debug-utils.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
