Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Mark Phase 1 as complete
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 2 and 3 as complete
  .prettierignore
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 4 as complete
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark tasklens deletion track as complete
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Format steps-library.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Synchronize docs for tasklens deletion track
  conductor/product-guidelines.md
  conductor/product.md
  conductor/tech-stack.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete legacy TaskLens track
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 9b5da1e985bb43cd8a40fdd0ea338ae500ba73a8
  assets/tailwind-dxh8877c7977ef5a8d.css
  assets/tailwind-dxh917a2ad5f3b16cce.css
  assets/tasklens-ui-dxhe27a7f139e8c5120.js
  assets/tasklens-ui_bg-dxhb78a6b1089e77df.wasm
  assets/tasklens-ui_bg-dxhf0c21be415e7e69a.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove legacy plan and update lockfile
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
  pnpm-lock.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 074fbb5e7159f976a6be7791e942c0cdb74aa9b8
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Map Turborepo tasks to Just recipes
  conductor/tracks/remove_turborepo_20260127/task_mapping.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Complete mapping of Turbo tasks to Just recipes
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Initialize Justfile and remove dead generate tasks
  justfile
  package.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Initialize Justfile and clean up generate
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 1
  conductor/tracks.md
  conductor/tracks/remove_turborepo_20260127/index.md
  conductor/tracks/remove_turborepo_20260127/metadata.json
  conductor/tracks/remove_turborepo_20260127/plan.md
  conductor/tracks/remove_turborepo_20260127/spec.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 1 as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add package-specific build recipes to Justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Complete package-specific build recipes
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add root build recipe to Justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Mark task Implement root build recipe as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add e2e test timing infrastructure and optimize
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/reporters/step-reporter.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  scripts/analyze_timings.py
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 2
  conductor/tracks/remove_turborepo_20260127/plan.md
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 2 as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add check-style recipes and fix lint issues
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
  justfile
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Complete check-style recipes implementation
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add check-types recipes and clean up tsconfig.json
  justfile
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Complete check-types recipes implementation
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add check-rust recipes to Justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Complete check-rust recipes implementation
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 3
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 3 as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add test recipes to Justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Mark task Implement test recipes as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add test-e2e recipes and clean up obsolete BDD
  justfile
Due: ./scripts/check-filenames.sh --files

Mark task Implement test-e2e recipes as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Remove redundant storage clearing in e2e tests
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/add-one-task.spec.ts
  crates/tasklens-ui/tests/e2e/specs/binary-import-export.spec.ts
  crates/tasklens-ui/tests/e2e/specs/document-switching.spec.ts
  crates/tasklens-ui/tests/e2e/specs/due-dates.spec.ts
  crates/tasklens-ui/tests/e2e/specs/mobile-journeys.spec.ts
  crates/tasklens-ui/tests/e2e/specs/plan-management.spec.ts
  crates/tasklens-ui/tests/e2e/specs/routine-tasks.spec.ts
  crates/tasklens-ui/tests/e2e/specs/sequential-projects.spec.ts
  crates/tasklens-ui/tests/e2e/specs/smoke.spec.ts
  crates/tasklens-ui/tests/e2e/specs/sync-settings.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-creation.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-lifecycle.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-moving.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  crates/tasklens-ui/tests/e2e/sync.spec.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor e2e setup logic to fixtures
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/specs/add-one-task.spec.ts
  crates/tasklens-ui/tests/e2e/specs/document-switching.spec.ts
  crates/tasklens-ui/tests/e2e/specs/due-dates.spec.ts
  crates/tasklens-ui/tests/e2e/specs/mobile-journeys.spec.ts
  crates/tasklens-ui/tests/e2e/specs/plan-management.spec.ts
  crates/tasklens-ui/tests/e2e/specs/routine-tasks.spec.ts
  crates/tasklens-ui/tests/e2e/specs/sequential-projects.spec.ts
  crates/tasklens-ui/tests/e2e/specs/smoke.spec.ts
  crates/tasklens-ui/tests/e2e/specs/sync-settings.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-creation.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-lifecycle.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-moving.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: a6a0ec2fc0396d440ddf8e29d1145a327b607f89
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
