Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Configure local prettier for apps/client
  apps/client/.prettierignore
  apps/client/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Complete task: Configure Prettier for apps/client
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Configure local prettier for packages/tasklens
  packages/tasklens/.prettierignore
  packages/tasklens/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Complete Phase 2: Sub-package Opt-In
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Optimize turbo caching and playwright config
  apps/client/playwright.config.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Configure local prettier for @mydoo/docs
  docs/.prettierignore
  docs/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Complete task: Configure Prettier for @mydoo/docs
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Configure local prettier for @mydoo/scripts
  scripts/.prettierignore
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 2: Sub-package Opt-In
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 2: Sub-package Opt-In as complete
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add smart-clean script
  package.json
  scripts/smart-clean.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Complete Phase 3: Final Verification
  .gitignore
  .ls-lint.yml
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Restore ls-lint config
  .ls-lint.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Hail mary fix for ls-lint issue
  .ls-lint.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Rando changes
  .husky/pre-commit
  lint-staged.config.js
  packages/tasklens/src/domain/priority.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix transient e2e test failures
  apps/client/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix pnpm check-eslint-root to only check the root
  package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add a scratch directory for AI context
  .ls-lint.yml
  biome.json
  knip.json
  tempcontext/README.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Adjust testIgnore pattern in playwright config
  apps/client/playwright.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor check tasks and protect rolling context
  .husky/pre-commit
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Remove lint-staged
  .husky/pre-commit
  conductor/tech-stack.md
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 1
  .ls-lint.yml
  conductor/tracks.md
  conductor/tracks/replace-ls-lint-20260110/metadata.json
  conductor/tracks/replace-ls-lint-20260110/plan.md
  conductor/tracks/replace-ls-lint-20260110/spec.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/lint-filenames.test.ts
  scripts/lint-filenames.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 1 as complete
  conductor/tracks/replace-ls-lint-20260110/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 2
  conductor/tracks/replace-ls-lint-20260110/plan.md
  scripts/lint-filenames.test.ts
  scripts/lint-filenames.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 2 as complete
  conductor/tracks/replace-ls-lint-20260110/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Annotate artificial delays
  apps/client/tests/e2e/pages/plan-page.ts
  apps/client/tests/e2e/task-defaults.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 3
  conductor/tracks/replace-ls-lint-20260110/plan.md
  scripts/lint-filenames.test.ts
  scripts/lint-filenames.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 3 as complete
  conductor/tracks/replace-ls-lint-20260110/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 4
  conductor/tracks/replace-ls-lint-20260110/plan.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/lint-filenames.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 4 as complete
  conductor/tracks/replace-ls-lint-20260110/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refactor E2E plan page wait logic
  apps/client/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor lint-filenames to use zod
  scripts/lint-filenames.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Doc sync and replace-ls-lint track cleanup
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/replace-ls-lint-20260110/metadata.json
  conductor/tracks/replace-ls-lint-20260110/plan.md
  conductor/tracks/replace-ls-lint-20260110/spec.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Harmonize task creation defaults
  apps/client/src/components/modals/task-editor-modal.tsx
  apps/client/tests/e2e/task-defaults.spec.ts
  packages/tasklens/src/domain/constants.ts
  packages/tasklens/src/domain/index.ts
  packages/tasklens/src/persistence/ops.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Simplify pre-commit hook and remove check script
  .husky/pre-commit
  scripts/check-staged.sh
Due: ./scripts/check-filenames.sh --files

Relocate BalanceItemData to public UI types
  packages/tasklens/src/domain/balance.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/types/internal.ts
  packages/tasklens/src/types/ui.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor task creation API and enforce task title
  apps/client/src/components/modals/task-editor-modal.tsx
  apps/client/src/dev/seed-data.tsx
  apps/client/src/viewmodel/containers/do-view-container.tsx
  apps/client/src/viewmodel/containers/task-editor-container.tsx
  apps/client/src/viewmodel/intents/use-task-intents-move.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.ts
  apps/client/src/viewmodel/ui/use-breadcrumbs.test.tsx
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/src/persistence/store.ts
  packages/tasklens/src/react/hooks/use-task-actions.ts
  packages/tasklens/src/types/persistence.ts
  packages/tasklens/src/types/ui.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Protect main branch from direct commits
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
