Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Beads issues
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: 25213231e5db125cc4005b60d92e3e535e5410c2
  assets/dx-components-theme-dxhbf6f9f32731762a0.css
  assets/focus-trap-dxhaa2b90c682e41736.js
  assets/style-dxh1dea34fbdfd33ffa.css
  assets/style-dxh226338c6bde9ca94.css
  assets/style-dxh444a1121fb35c38.css
  assets/style-dxh69609a8947142529.css
  assets/style-dxhadb5a187da86cd4a.css
  assets/style-dxhd9d8847bc9b3ab0.css
  assets/tailwind-dxh7e5a74707232c6ff.css
  assets/tasklens-ui-dxhc68d27de29bbcf.js
  assets/tasklens-ui_bg-dxh26912741dfdf01a.wasm
  assets/tasklens-ui_bg-dxh3679b5b59b47bce.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: a9a4e2ef09be1fca49f924dce9ac08d6c951917a
  assets/dx-components-theme-dxh7fc51caf1683420.css
  assets/focus-trap-dxhb0f8e68e347ebba5.js
  assets/style-dxh3dae7c18ece4f42.css
  assets/style-dxh69d67e393aa9e96.css
  assets/style-dxhb735ed6d422f2ac.css
  assets/style-dxhca194e49dcecbc95.css
  assets/style-dxhe04d148565f9e7c3.css
  assets/style-dxhe1e27deea4110ba.css
  assets/tailwind-dxh5cefae3779a10f3.css
  assets/tasklens-ui-dxh93a9cdb137b0f2b.js
  assets/tasklens-ui_bg-dxh3679b5b59b47bce.wasm
  assets/tasklens-ui_bg-dxhd9655c0c6c2e45d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix task field persistence for importance, effort, and notes
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/task-update-fields.feature.yaml
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/field-persistence.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

deploy: e8fb468bf899abbfc756989fde06417db4a838e4
  assets/tasklens-ui-dxh93a9cdb137b0f2b.js
  assets/tasklens-ui-dxha5c24f4572422d8.js
  assets/tasklens-ui_bg-dxh9a4e80f2fc19d2f.wasm
  assets/tasklens-ui_bg-dxhd9655c0c6c2e45d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update agent rules and deprecate accessibility API
  .agent/skills/playwright-debug/SKILL.md
  .beads/issues.jsonl
  AGENTS.md
  crates/tasklens-ui/tests/e2e/playwright.d.ts
  crates/tasklens-ui/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

deploy: a0a12e5bf65785c9b0fdad4047e9b483b04f2ed9
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

feat(balance): add Balance View with E2E tests
  .beads/issues.jsonl
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/balance-view.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix balance view sort order
  crates/tasklens-core/src/domain/balance.rs
Due: ./scripts/check-filenames.sh --files

Implement proportional balance redistribution
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/balance_distribution.rs
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/balance_slider.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix desktop runtime initialization and platform-specific panics
  .beads/issues.jsonl
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/samod_runtime.rs
  crates/tasklens-store/src/samod_storage.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/utils/async_utils.rs
  crates/tasklens-ui/src/utils/dioxus_runtime.rs
  crates/tasklens-ui/src/utils/mod.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

Encapsulate memory_heads and associated signals
  .agent/skills/beads/SKILL.md
  .beads/issues.jsonl
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
  crates/tasklens-ui/src/main.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

Add tracing to hydrate_tunnel_state
  .agent/skills/beads/SKILL.md
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/domain/doc_bridge.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix balance view E2E tests to use percentage values
  .beads/issues.jsonl
  crates/tasklens-ui/tests/e2e/specs/balance-view.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: c6498a5dd95511edddf8757f19c69321913002a1
  assets/tasklens-ui-dxha5c24f4572422d8.js
  assets/tasklens-ui-dxhd58cf1976f405828.js
  assets/tasklens-ui_bg-dxh9a4e80f2fc19d2f.wasm
  assets/tasklens-ui_bg-dxhe49b14d2e23ae65d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Sync beads state
  .beads/.gitignore
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: e1d36fe02a96bdca7fcca3bd7563f9d2dbebb3e3
  assets/tailwind-dxh5cefae3779a10f3.css
  assets/tailwind-dxh61871f95d2e17a8e.css
  assets/tasklens-ui-dxh6bc5e6befd2476dc.js
  assets/tasklens-ui-dxhd58cf1976f405828.js
  assets/tasklens-ui_bg-dxhc4dd99b4d67119.wasm
  assets/tasklens-ui_bg-dxhe49b14d2e23ae65d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Try configuring beads-sync branch again
  .beads/config.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: e06902d53e4f136cfe0edf45b0507f5a29b33c7f
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: cd42972206bf250c4e27c50043bdeff64ea77c37
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-01-31 21:43:51
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Auto-start the beads daemon
  .beads/config.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 7474ff43decbcb84aac6c5dff91d26e1348bae8a
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

bd sync: 2026-01-31 22:32:35
  .beads/.sync.lock
  .beads/beads.left.jsonl
  .beads/beads.left.meta.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-01 14:14:45
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Decouple balance interaction logic into a generic hook
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_balance_data.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

Cleanup balance interaction logic and core types
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
Due: ./scripts/check-filenames.sh --files

Simplify balance interaction and move logic to core
  crates/tasklens-core/src/domain/balance_distribution.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

Simplify Balance logic by merging data types
  crates/tasklens-core/src/domain/balance.rs
  crates/tasklens-core/src/domain/balance_distribution.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

Normalize balance credits to item count
  crates/tasklens-core/src/domain/balance_distribution.rs
Due: ./scripts/check-filenames.sh --files

Standardize event handler naming and add documentation to Balance View
  crates/tasklens-ui/src/components/balance_slider.rs
  crates/tasklens-ui/src/hooks/use_balance_data.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 08:49:26
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

chore(renovate): use best-practices preset instead of recommended
  renovate.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

build: enforce biome schema version matches CLI version
  biome.json
  justfile
  scripts/check-biome-schema.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

fix(renovate): separate patch and minor update groups
  renovate.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

chore(deps): align dependabot cooldown with renovate minimumReleaseAge
  .github/dependabot.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(scripts): use pnpm list for biome schema validation
  scripts/check-biome-schema.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

test(store): add repro for concurrent move cycle bug
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 10:06:30
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 10:07:05
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files
