Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Implement round-trip tests for algorithm specs
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/tests/unit/converters.test.ts
  packages/tasklens/tests/unit/converters.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Rename step description to legacy_description
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/tests/unit/converters.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Standardize schema definitions to snake_case
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/specs/compliance/schemas/test-case.schema.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Implement iterative BDD assertion validation
  packages/tasklens/tests/unit/algorithm-bdd.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Convert legacy YAML fixtures to feature format
  packages/tasklens/specs/compliance/fixtures/balancing.feature.yaml
  packages/tasklens/specs/compliance/fixtures/boost-importance.feature.yaml
  packages/tasklens/specs/compliance/fixtures/boost-lead-time.feature.yaml
  packages/tasklens/specs/compliance/fixtures/completion-acknowledgement.feature.yaml
  packages/tasklens/specs/compliance/fixtures/complex-mutation.feature.yaml
  packages/tasklens/specs/compliance/fixtures/decay.feature.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time-edge-cases.feature.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time.feature.yaml
  packages/tasklens/specs/compliance/fixtures/min-threshold.feature.yaml
  packages/tasklens/specs/compliance/fixtures/repro-stale-leadtime.feature.yaml
  packages/tasklens/specs/compliance/fixtures/root-importance.feature.yaml
  packages/tasklens/specs/compliance/fixtures/sequential-flow.feature.yaml
  packages/tasklens/specs/compliance/fixtures/sorting.feature.yaml
  packages/tasklens/specs/compliance/fixtures/thermostat.feature.yaml
  packages/tasklens/specs/compliance/fixtures/tree-order-id-conflict.feature.yaml
  packages/tasklens/specs/compliance/fixtures/tree-order.feature.yaml
  packages/tasklens/specs/compliance/fixtures/visibility-place-filtering.feature.yaml
  packages/tasklens/specs/compliance/fixtures/weight.feature.yaml
  packages/tasklens/specs/compliance/fixtures/zero-feedback.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Deleting legacy test schema and infrastructure
  packages/tasklens/package.json
  packages/tasklens/specs/compliance/fixtures/balancing.yaml
  packages/tasklens/specs/compliance/fixtures/boost-importance.yaml
  packages/tasklens/specs/compliance/fixtures/boost-lead-time.yaml
  packages/tasklens/specs/compliance/fixtures/completion-acknowledgement.yaml
  packages/tasklens/specs/compliance/fixtures/complex-mutation.yaml
  packages/tasklens/specs/compliance/fixtures/decay.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time-edge-cases.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time.yaml
  packages/tasklens/specs/compliance/fixtures/min-threshold.yaml
  packages/tasklens/specs/compliance/fixtures/repro-stale-leadtime.yaml
  packages/tasklens/specs/compliance/fixtures/root-importance.yaml
  packages/tasklens/specs/compliance/fixtures/sequential-flow.yaml
  packages/tasklens/specs/compliance/fixtures/sorting.yaml
  packages/tasklens/specs/compliance/fixtures/thermostat.yaml
  packages/tasklens/specs/compliance/fixtures/tree-order-id-conflict.yaml
  packages/tasklens/specs/compliance/fixtures/tree-order.yaml
  packages/tasklens/specs/compliance/fixtures/visibility-place-filtering.yaml
  packages/tasklens/specs/compliance/fixtures/weight.yaml
  packages/tasklens/specs/compliance/fixtures/zero-feedback.yaml
  packages/tasklens/specs/compliance/schemas/test-case.schema.json
  packages/tasklens/tests/unit/algorithm-bdd.test.ts
  packages/tasklens/tests/unit/algorithm.test.ts
  packages/tasklens/tests/unit/converters.test.ts
  packages/tasklens/tests/unit/converters.ts
  packages/tasklens/turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Rename algorithm-bdd.test.ts to algorithm.test.ts
  packages/tasklens/tests/unit/algorithm.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update Product Requirements Document
  docs/design/prd.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refine algorithm scheduling and inheritance
  docs/design/algorithm.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refine inheritance and fallback documentation
  docs/design/algorithm.md
  docs/design/prd.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update algorithm and PRD to normalize effort and importance values to a 0.0-1.0 range and simplify place inheritance logic.
  AGENTS.md
  docs/design/algorithm.md
  docs/design/prd.md
  packages/tasklens/src/persistence/ops.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Implement task property inheritance logic
  apps/client/src/components/modals/task-editor-modal.tsx
  packages/tasklens/specs/compliance/fixtures/inheritance-credits.feature.yaml
  packages/tasklens/specs/compliance/fixtures/inheritance-importance.feature.yaml
  packages/tasklens/specs/compliance/fixtures/inheritance-place.feature.yaml
  packages/tasklens/specs/compliance/fixtures/inheritance-schedule.feature.yaml
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/domain/routine-tasks.ts
  packages/tasklens/src/domain/visibility.ts
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/src/persistence/schemas.ts
  packages/tasklens/src/types.ts
  packages/tasklens/src/utils/time.ts
  packages/tasklens/tests/unit/algorithm.test.ts
  packages/tasklens/tests/unit/priority-inheritance.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Configure syncpack and enforce catalog protocol
  .syncpackrc
  apps/client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-turbo-inputs.ts
  scripts/package.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Remove unused SyncDocPayload export
  packages/tasklens/src/store/slices/tasks-slice.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add cooldown periods to dependabot updates
  .github/dependabot.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Add usage documentation to check-turbo-inputs.ts
  scripts/check-turbo-inputs.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add catalog check and clean up pnpm catalog
  .syncpackrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-unused-catalog-entries.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refactor and simplify dependency health script
  knip.json
  pnpm-lock.yaml
  scripts/check-dependency-health.test.ts
  scripts/check-dependency-health.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update Biome schema version
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update git commit secret instructions in AGENTS.md
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update git commit secret to 'I follow directions.'
  .husky/pre-commit
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Remove trailingComma and tabWidth from .prettierrc
  .prettierrc
Due: ./scripts/check-filenames.sh --files

Add exhaustive destructuring guide
  docs/guidance/exhaustive-destructuring.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement exhaustive task destructuring
  apps/client/src/components/modals/task-editor-modal.tsx
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/tests/unit/algorithm.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Consolidate linting and script infrastructure
  apps/client/package.json
  packages/tasklens/package.json
  scripts/check-dependency-health.ts
  scripts/check-unused-catalog-entries.ts
  scripts/package.json
  scripts/tsconfig.json
  tsconfig.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add root-level ESLint check and fix tasks
  package.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add uninished thoughts
  docs/design/unfinished-thoughts/dates.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add schema change doc
  docs/design/schema-changes.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement versionless schema evolution
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/src/persistence/schemas.ts
  packages/tasklens/src/types.ts
  packages/tasklens/src/utils/types.ts
  packages/tasklens/tests/unit/schema-evolution.test.ts
  packages/tasklens/tests/unit/utils/types.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add conductor setup files
  conductor/code_styleguides/bdd.md
  conductor/code_styleguides/code-review.md
  conductor/code_styleguides/derived-state.md
  conductor/code_styleguides/exhaustive-destructuring.md
  conductor/code_styleguides/html-css.md
  conductor/code_styleguides/javascript.md
  conductor/code_styleguides/task-naming.md
  conductor/code_styleguides/type-safe-mocking.md
  conductor/code_styleguides/typescript.md
  conductor/product-guidelines.md
  conductor/product.md
  conductor/setup-state.json
  conductor/tech-stack.md
  conductor/tracks.md
  conductor/tracks/prettier-isolation-20260108/metadata.json
  conductor/tracks/prettier-isolation-20260108/plan.md
  conductor/tracks/prettier-isolation-20260108/spec.md
  conductor/workflow.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Serialize unit and E2E tests to reduce flakes
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update ls-lint config for source code and dirs
  .ls-lint.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Update client turbo config for robust inputs
  apps/client/turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Restrict root prettier to root directory only
  .prettierignore
  conductor/tracks.md
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Complete task: Update root .prettierignore
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 1: Root Isolation as complete
  conductor/tracks/prettier-isolation-20260108/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files
