Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Ignore more tempcontext
  tempcontext/.gitignore
Due: ./scripts/check-filenames.sh --files

Capitulate to our proseWrap overlords
  .prettierrc
Due: ./scripts/check-filenames.sh --files

Add trailing newline
  .prettierrc
Due: ./scripts/check-filenames.sh --files

Add automerge repo docs
  docs/design/automerge-repo/automerge-repo-api.md
  docs/design/automerge-repo/automerge-repo-protocol.md
  docs/design/automerge-repo/samod-api.md
  docs/design/automerge-repo/samod-protocol.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Rename tempcontext to reference_repos
  .gitmodules
  .husky/pre-commit
  apps/client/turbo.json
  biome.json
  docs/plan/rust_migration.md
  knip.json
  packages/tasklens/specs/compliance/fixtures/min-threshold.feature.yaml
  reference_repos/README.md
  tempcontext/.gitignore
  turbo-exclusions.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

WIP: builds but e2e does not work yet
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/benches/import_benchmark.rs
  crates/tasklens-store/src/crypto.rs
  crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/network.rs
  crates/tasklens-store/src/samod_runtime.rs
  crates/tasklens-store/src/samod_storage.rs
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/sync.rs
  crates/tasklens-store/tests/load_backup.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/package.json
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/sync.spec.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
  docs/plan/samod-migration.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/sync-server.mjs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

WIP the e2e tests pass but others fail
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/package.json
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/sync.spec.ts
  scripts/sync-server.mjs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

The e2e tests are working a bit better
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/package.json
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
  docs/plan/samod-migration.md
  knip.json
  package.json
  pnpm-workspace.yaml
  scripts/sync-server.js
  scripts/sync-server.mjs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Switch samod dependency to git wasm branch
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Bunch of version changes
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Clean up E2E console logs
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove todo_mvp submodule
  .gitmodules
Due: ./scripts/check-filenames.sh --files

Increase E2E test persistence timeout for CI
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor visibility and workspace lints
  Cargo.toml
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-sync-protocol/Cargo.toml
  crates/tasklens-sync-server/Cargo.toml
  crates/tasklens-sync-server/src/db.rs
  crates/tasklens-sync-server/src/main.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/collapsible/mod.rs
  crates/tasklens-ui/src/components/date_picker/mod.rs
  crates/tasklens-ui/src/components/dialog/mod.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/navbar/mod.rs
  crates/tasklens-ui/src/components/select/mod.rs
  crates/tasklens-ui/src/components/slider/mod.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/utils/profiling.rs
  crates/tasklens-ui/src/utils/time_conversion.rs
Due: ./scripts/check-filenames.sh --files

Add a justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Remove unused sync crates
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-sync-protocol/Cargo.toml
  crates/tasklens-sync-protocol/src/client.rs
  crates/tasklens-sync-protocol/src/lib.rs
  crates/tasklens-sync-server/Cargo.toml
  crates/tasklens-sync-server/src/db.rs
  crates/tasklens-sync-server/src/main.rs
  crates/tasklens-sync-server/tests/integration_test.rs
Due: ./scripts/check-filenames.sh --files

Cleanup tasklens-store dependencies
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Fix binary import E2E flakiness and isolation
  AGENTS.md
  apps/client/playwright.config.ts
  apps/client/src/components/shell/app-shell-container.tsx
  apps/client/tests/e2e/features/binary-import-export.feature
  apps/client/tests/e2e/fixtures.ts
  apps/client/tests/e2e/steps/binary.steps.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update Cargo.lock
  Cargo.lock
Due: ./scripts/check-filenames.sh --files

Extract tasklens-store tests to separate files
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/src/store/tests_async.rs
Due: ./scripts/check-filenames.sh --files

Add scaffold for golden reconciliation test
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Mark task Create Test File as complete in plan
  conductor/tracks.md
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement golden file loading
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Checkpoint end of Phase 1
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark phase Phase 1 as complete in plan
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement hydration for golden reconciliation test
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Implement reconciliation logic in test
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Checkpoint end of Phase 2
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark phase Phase 2 as complete in plan
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement recursive diff logic in test
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Optimize test with fail-fast surgical check
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Checkpoint end of Phase 3
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark phase Phase 3 as complete in plan
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark golden reconciliation test track as complete
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete track Golden File Reconciliation Test
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Ignore golden reconciliation test for CI
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Add FIXME to ignored golden reconciliation test
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Delete implementation plan
  conductor/tracks/golden_reconciliation_20260121/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Ensure TaskID reconciles as Automerge Text
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Learnings and better assertion failures
  AGENTS.md
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: prettier --write, ./scripts/check-filenames.sh --files
