Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Add automerge rules for GitHub Actions
  renovate.json5
Due: ./scripts/check-filenames.sh --files

fix do-view header terminology
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/tests/e2e/specs/smoke.spec.ts
  docs/pebble/do-mode-header-displays-work-instead-of-do.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

test(ui): add persistence init-ordering hook test
  crates/tasklens-ui/src/hooks/use_persistence.rs
  docs/pebble/add-stream-ordering-init-test-for-persistence-hooks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: clarify bot-safe playwright verification workflow
  AGENTS.md
  crates/tasklens-ui/tests/e2e/README.md
  docs/pebble/make-playwright-verification-easier-for-bots.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(skill): prioritize ranked pebble task selection
  .agent/skills/pebble/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

test(ui): use named structs in use_persistence tests
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Clarify routine task state in Plan rows
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/plan_page.rs
  docs/pebble/convert-the-ui-to-use-dioxus-components.md
  docs/pebble/design-recurring-template-instance-split-for-routine-tasks.md
  docs/pebble/investigate-routinely-tasks-display-is-confusing-in-plan-view.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Align Plan styles with CSS guide
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/plan_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs(pebble): add non-modal editor/settings planning docs
  docs/pebble/design-non-modal-editing-settings-interaction-model.md
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
  docs/pebble/replace-taskeditor-dialog-with-slide-in-panel.md
  docs/pebble/stop-using-modals-for-editing-creating-tasks-and-sync-settings.md
  docs/pebble/update-e2e-tests-for-non-modal-editor-settings-flows.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Apply suggestions from code review
  crates/tasklens-ui/src/app_components/task_row.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): migrate task editor to non-modal slide-in panel
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  docs/pebble/replace-taskeditor-dialog-with-slide-in-panel.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs(pebble): replan non-modal rollout around shared panel shell
  docs/pebble/extract-shared-non-modal-panel-shell-component.md
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
  docs/pebble/stop-using-modals-for-editing-creating-tasks-and-sync-settings.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(pebble): add TaskEditor shared-panel migration task
  docs/pebble/extract-shared-non-modal-panel-shell-component.md
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
  docs/pebble/stop-using-modals-for-editing-creating-tasks-and-sync-settings.md
  docs/pebble/switch-taskeditor-to-shared-panel-component.md
Due: prettier --write, ./scripts/check-filenames.sh --files

feat(ui): extract shared non-modal panel shell
  crates/tasklens-ui/src/app_components/app_panel.css
  crates/tasklens-ui/src/app_components/app_panel.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  docs/pebble/extract-shared-non-modal-panel-shell-component.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs: finalize route-planning findings and sequencing
  .agent/skills/checklist-tasks/SKILL.md
  .agent/skills/checklist-tasks/agents/openai.yaml
  docs/pebble/phase-1-migrate-sync-settings-to-full-page-route-navigation.md
  docs/pebble/phase-2-add-e2e-tests-for-master-detail-transitions.md
  docs/pebble/phase-2-implement-master-detail-split-view-on-desktop.md
  docs/pebble/phase-2-specify-list-detail-transition-e2e-scenarios-pre-ui.md
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
  docs/pebble/stop-using-modals-for-editing-creating-tasks-and-sync-settings.md
  docs/pebble/switch-taskeditor-to-shared-panel-component.md
  docs/pebble/update-e2e-tests-for-non-modal-editor-settings-flows.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(ui): improve AppPanel dialog labeling
  crates/tasklens-ui/src/app_components/app_panel.rs
Due: ./scripts/check-filenames.sh --files

check of work as completed
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Exhaustive match in AppNavBar
  crates/tasklens-ui/src/app_components/app_navbar.rs
Due: ./scripts/check-filenames.sh --files

Fix Link vs Button confusion
  crates/tasklens-ui/src/app_components/app_navbar.rs
  docs/pebble/fix-settings-button-nested-interactive-markup-in-appnavbar.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Speed up "just check"
  .cargo/config.toml
  justfile
Due: ./scripts/check-filenames.sh --files

De-scope deep-link semantics in settings/editor navigation
  crates/tasklens-ui/src/views/settings_page.rs
  crates/tasklens-ui/tests/e2e/specs/settings-route-navigation.spec.ts
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
  docs/pebble/switch-taskeditor-to-shared-panel-component.md
  docs/pebble/update-e2e-tests-for-non-modal-editor-settings-flows.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

feat: migrate settings to full-page route navigation
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/settings_page.css
  crates/tasklens-ui/src/views/settings_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/settings-route-navigation.spec.ts
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Fix settings close selector and align routing docs
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/settings_page.rs
  docs/pebble/fix-settings-button-nested-interactive-markup-in-appnavbar.md
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan the settings page
  docs/pebble/replace-settings-dialog-with-non-modal-panel.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Move Styles to module scope
  crates/tasklens-ui/src/views/settings_page.rs
Due: ./scripts/check-filenames.sh --files

Code review findings
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/views/settings_page.rs
Due: ./scripts/check-filenames.sh --files

Improve the settings header spacing
  crates/tasklens-ui/src/app_components/back_button.css
  crates/tasklens-ui/src/views/settings_page.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Tweak settings page
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/views/settings_page.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Flesh out CSS guidance
  crates/tasklens-ui/assets/app.css
  docs/guidance/css.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

More CSS guidance churn
  docs/guidance/css.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Improve app.css compliance
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/app_panel.css
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/move_picker.css
  crates/tasklens-ui/src/app_components/priority_task_row.css
  crates/tasklens-ui/src/app_components/search_panel.css
  crates/tasklens-ui/src/app_components/sync_indicator.css
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/settings_page.css
  crates/tasklens-ui/src/views/task_page.css
  crates/tasklens-ui/src/views/task_page.rs
  docs/guidance/css.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Fix up CSS vars
  crates/tasklens-ui/src/app_components/app_panel.css
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

ui: centralize page container layout into PageContainer layout component
  crates/tasklens-ui/src/app_components/app_panel.css
  crates/tasklens-ui/src/app_components/layout/mod.rs
  crates/tasklens-ui/src/app_components/layout/page.css
  crates/tasklens-ui/src/app_components/layout/page.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/views/balance_page.css
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.css
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/score_trace_page.css
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/settings_page.css
  crates/tasklens-ui/src/views/settings_page.rs
  crates/tasklens-ui/src/views/task_page.css
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

style: tokenize page layout spacing metrics
  crates/tasklens-ui/src/app_components/layout/page.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor: use PageContainer in PlanPage and clean up redundant styles
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/plan_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): add Stack layout primitive and migrate Do page list
  crates/tasklens-ui/src/app_components/layout/mod.rs
  crates/tasklens-ui/src/app_components/layout/stack.css
  crates/tasklens-ui/src/app_components/layout/stack.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/views/do_page.css
  crates/tasklens-ui/src/views/do_page.rs
  docs/guidance/dioxus-gotchas.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

fix(stack): use merge_attributes for robust class composition
  Cargo.lock
  crates/tasklens-ui/.gemini/styleguide.md
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/app_components/layout/stack.rs
  docs/guidance/dioxus-gotchas.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs,xtask: implement vendored boundary check and stack component plan
  AGENTS.md
  AGENTS_DIOXUS.md
  STACK_COMPONENT_PLAN.md
  docs/design/dioxus-vendored-components-design.md
  docs/guidance/agents-dioxus.md
  docs/guidance/dioxus-gotchas.md
  docs/guidance/dioxus-vendored-customization.md
  docs/guidance/dioxus-vendored-styling.md
  xtask/config/vendored-boundary.allowlist
  xtask/src/commands/check_rust_token_count.rs
  xtask/src/commands/check_vendored_boundaries.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/rust_tokens.rs
  xtask/src/main.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: migrate PlanPage task list to Stack
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/plan_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs: add xtask plan for enforcing non-pub visibility in bin crates
  BIN_CRATE_PUB_VISIBILITY_PLAN.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
