Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/dialog/component.rs
  crates/tasklens-ui/src/dioxus_components/dialog/mod.rs
  crates/tasklens-ui/src/dioxus_components/dialog/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): migrate dialog to vendored upstream component
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/dialog/component.rs
  crates/tasklens-ui/src/dioxus_components/dialog/mod.rs
  crates/tasklens-ui/src/dioxus_components/mod.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

fix(ui): refactor task editor layout for dioxus dialog
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/dialog/component.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs: remove plan to migrate to dioxus calendar and date_picker
  crates/tasklens-ui/src/components/calendar/component.rs
  crates/tasklens-ui/src/components/calendar/mod.rs
  crates/tasklens-ui/src/components/calendar/style.css
  crates/tasklens-ui/src/components/mod.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

build(ui): add collapsible to vendor config
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/collapsible/component.rs
  crates/tasklens-ui/src/dioxus_components/collapsible/mod.rs
  crates/tasklens-ui/src/dioxus_components/collapsible/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs(ui): update migration status for Collapsible and Chunk D
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(xtask): improve dx-components tool to avoid gratuitous diffs
  biome.json
  crates/tasklens-ui/src/dioxus_components/button/style.css
  crates/tasklens-ui/src/dioxus_components/checkbox/style.css
  crates/tasklens-ui/src/dioxus_components/input/style.css
  xtask/src/commands/dx_components/installer.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/src/dioxus_components/button/mod.rs
  crates/tasklens-ui/src/dioxus_components/checkbox/mod.rs
  crates/tasklens-ui/src/dioxus_components/collapsible/mod.rs
  crates/tasklens-ui/src/dioxus_components/dialog/mod.rs
  crates/tasklens-ui/src/dioxus_components/input/mod.rs
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/select/mod.rs
Due: ./scripts/check-filenames.sh --files

refactor(ui): revert biome.json change
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

chore(ui): add badge to vendored components
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/badge/component.rs
  crates/tasklens-ui/src/dioxus_components/badge/mod.rs
  crates/tasklens-ui/src/dioxus_components/badge/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(tasklens-ui): migrate badge to vendored dioxus component
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

fix(ci): fix auto-close-bad-source-prs failure by adding --repo flag
  .github/workflows/auto-close-bad-source-prs.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(ui): setup card component migration slice
  crates/tasklens-ui/dioxus-vendor-components.toml
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/card/component.rs
  crates/tasklens-ui/src/dioxus_components/card/mod.rs
  crates/tasklens-ui/src/dioxus_components/card/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(ui): complete card vertical slice migration
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/empty_state.rs
  crates/tasklens-ui/src/dioxus_components/card/mod.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Add tailwind.css
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

style(ui): use Primary badge for Upcoming in PriorityTaskRow
  crates/tasklens-ui/src/app_components/priority_task_row.rs
Due: ./scripts/check-filenames.sh --files

chore(ui): add progress to vendored components list
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/progress/component.rs
  crates/tasklens-ui/src/dioxus_components/progress/mod.rs
  crates/tasklens-ui/src/dioxus_components/progress/style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): complete progress vertical slice migration
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/views/balance_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

build(ui): add textarea to vendor config
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/textarea/component.rs
  crates/tasklens-ui/src/dioxus_components/textarea/mod.rs
  crates/tasklens-ui/src/dioxus_components/textarea/style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(ui): adopt vendored textarea and progress components
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/views/balance_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

prep: add toggle/switch to vendor list
  crates/tasklens-ui/dioxus-vendor-components.toml
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/switch/component.rs
  crates/tasklens-ui/src/dioxus_components/switch/mod.rs
  crates/tasklens-ui/src/dioxus_components/switch/style.css
  crates/tasklens-ui/src/dioxus_components/toggle/component.rs
  crates/tasklens-ui/src/dioxus_components/toggle/mod.rs
  crates/tasklens-ui/src/dioxus_components/toggle/style.css
  crates/tasklens-ui/src/dioxus_components/toggle_group/component.rs
  crates/tasklens-ui/src/dioxus_components/toggle_group/mod.rs
  crates/tasklens-ui/src/dioxus_components/toggle_group/style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): migrate sequential toggle to vendored switch component
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/dioxus_components/toggle/mod.rs
  crates/tasklens-ui/src/dioxus_components/toggle_group/mod.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(migration): prioritize two-phase DaisyUI then Tailwind removal
  .agent/skills/dx-slice/SKILL.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

prep: add slider and label to vendor list
  crates/tasklens-ui/dioxus-vendor-components.toml
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/label/component.rs
  crates/tasklens-ui/src/dioxus_components/label/mod.rs
  crates/tasklens-ui/src/dioxus_components/label/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/slider/component.rs
  crates/tasklens-ui/src/dioxus_components/slider/mod.rs
  crates/tasklens-ui/src/dioxus_components/slider/style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): migrate slider and label to dioxus components
  .vscode/settings.json
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/app_components/balance_slider.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/slider/component.rs
  crates/tasklens-ui/src/components/slider/mod.rs
  crates/tasklens-ui/src/components/slider/style.css
  crates/tasklens-ui/src/dioxus_components/slider/component.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

build: remove pnpm scripts that are shims for just
  package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

test(e2e): use concise 'dot' reporter for CI and show fix-junit output
  crates/tasklens-ui/playwright.config.ts
  justfile
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

refactor(ui): safer slider value destructuring and logging
  crates/tasklens-ui/src/app_components/balance_slider.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/dioxus_components/slider/component.rs
Due: ./scripts/check-filenames.sh --files

chore(xtask): rename dx-components cache dir to x-xtask-dx-components
  xtask/src/commands/dx_components/registry.rs
Due: ./scripts/check-filenames.sh --files

Fix some clippy warnings
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
Due: ./scripts/check-filenames.sh --files

refactor(xtask): define constant for dx-components cache directory
  xtask/src/commands/dx_components/registry.rs
Due: ./scripts/check-filenames.sh --files

docs: Clairfy Dioxus Components vendored code guidance
  .gemini/styleguide.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix e2e slider interactions and unmute Playwright output
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  justfile
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
