Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Ignore vendored Dioxus components in Prettier
  .prettierignore
Due: ./scripts/check-filenames.sh --files

Detect integration status of vendored Dioxus components in xtask
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Remove 'version' from dioxus-primitives pin to avoid renovate conflicts
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Adjust test to match toml_edit formatting
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/dx-components-theme.css
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/button/component.rs
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Standardize Cargo.toml formatting for dioxus-primitives
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Use chronic to reduce justfile noise
  justfile
Due: ./scripts/check-filenames.sh --files

Allow output from fix commands and filter prettier noise
  justfile
Due: ./scripts/check-filenames.sh --files

Use grep to filter prettier output and allow fix command output
  justfile
Due: ./scripts/check-filenames.sh --files

Use chronic in pre-commit hook to reduce noise
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Use chronic in pre-push hook to reduce noise
  .husky/pre-push
Due: ./scripts/check-filenames.sh --files

Silence sync server logging by default in E2E tests
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix xtask test for Cargo.toml formatting
  crates/tasklens-ui/Cargo.toml
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Address code review feedback: improve error handling and simplify logic
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

feat(agent): add pr-creator skill and replace gh-pr-safe
  .agent/skills/gh-pr-safe/SKILL.md
  .agent/skills/pr-creator/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(ci): fix auto-close workflow for bad source branches
  .github/workflows/auto-close-bad-source-prs.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
  crates/tasklens-ui/src/dioxus_components/button/component.rs
  crates/tasklens-ui/src/dioxus_components/button/mod.rs
  crates/tasklens-ui/src/dioxus_components/button/style.css
  crates/tasklens-ui/src/dioxus_components/calendar/component.rs
  crates/tasklens-ui/src/dioxus_components/calendar/mod.rs
  crates/tasklens-ui/src/dioxus_components/calendar/style.css
  crates/tasklens-ui/src/dioxus_components/checkbox/component.rs
  crates/tasklens-ui/src/dioxus_components/checkbox/mod.rs
  crates/tasklens-ui/src/dioxus_components/checkbox/style.css
  crates/tasklens-ui/src/dioxus_components/date_picker/component.rs
  crates/tasklens-ui/src/dioxus_components/date_picker/mod.rs
  crates/tasklens-ui/src/dioxus_components/date_picker/style.css
  crates/tasklens-ui/src/dioxus_components/input/component.rs
  crates/tasklens-ui/src/dioxus_components/input/mod.rs
  crates/tasklens-ui/src/dioxus_components/input/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/component.rs
  crates/tasklens-ui/src/dioxus_components/popover/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/style.css
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs: document date picker blockers and dx CLI bug
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

build: pin biome version to 2.3.14
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

build: pin biome version to 2.3.15 and update schema
  biome.json
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

build: pin biome to 2.3.15 and update schema
  biome.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

feat(xtask): vendor dx-components installer command tree
  .prettierignore
  AGENTS.md
  Cargo.lock
  crates/tasklens-ui/src/dioxus_components/README.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  xtask/Cargo.toml
  xtask/src/commands/dx_components/installer.rs
  xtask/src/commands/dx_components/manifest.rs
  xtask/src/commands/dx_components/mod.rs
  xtask/src/commands/dx_components/registry.rs
  xtask/src/commands/dx_components/vendor.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/update_dioxus_components.rs
  xtask/src/main.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(xtask): add dioxus attribution notices
  xtask/src/commands/dx_components/UPSTREAM_ATTRIBUTION.md
  xtask/src/commands/dx_components/installer.rs
  xtask/src/commands/dx_components/manifest.rs
  xtask/src/commands/dx_components/registry.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(migration): re-scope date strategy and css-modules gate
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(ui): complete date slice with css modules pilot
  .ls-lint.toml
  AGENTS.md
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/date_input.css
  crates/tasklens-ui/src/app_components/date_input.rs
  crates/tasklens-ui/src/app_components/date_time_input.css
  crates/tasklens-ui/src/app_components/date_time_input.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/date_picker/component.rs
  crates/tasklens-ui/src/components/date_picker/mod.rs
  crates/tasklens-ui/src/components/mod.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Pin commitlint to 2.3.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(ui): consolidate date/datetime inputs into shared module
  crates/tasklens-ui/src/app_components/date_input.rs
  crates/tasklens-ui/src/app_components/date_time_input.css
  crates/tasklens-ui/src/app_components/date_time_inputs/components.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/mod.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/style.css
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Pin @playwright/test to 1.58.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(ui): handle empty due date and rename vars in TaskEditor
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: ./scripts/check-filenames.sh --files

chore(deps): pin dependencies to current versions
  Cargo.toml
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-ui/Cargo.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  xtask/Cargo.toml
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(ui): add select to vendored components list
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
  crates/tasklens-ui/src/dioxus_components/calendar/component.rs
  crates/tasklens-ui/src/dioxus_components/calendar/style.css
  crates/tasklens-ui/src/dioxus_components/date_picker/component.rs
  crates/tasklens-ui/src/dioxus_components/date_picker/mod.rs
  crates/tasklens-ui/src/dioxus_components/date_picker/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/component.rs
  crates/tasklens-ui/src/dioxus_components/popover/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/style.css
  crates/tasklens-ui/src/dioxus_components/select/component.rs
  crates/tasklens-ui/src/dioxus_components/select/mod.rs
  crates/tasklens-ui/src/dioxus_components/select/style.css
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor(ui): complete select vertical slice migration
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/select/component.rs
  crates/tasklens-ui/src/components/select/mod.rs
Due: ./scripts/check-filenames.sh --files

docs(ui): refresh migration inventory and class debt register
  crates/tasklens-ui/assets/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

test(ui): update E2E tests to handle custom Select component
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore(ui): update tailwind assets
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(ui): correct app_components imports to use direct exports
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: ./scripts/check-filenames.sh --files

refactor(ui): make app_components modules private and fix direct exports
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/components.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/mod.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

refactor(ui): enforce strict pub(crate) visibility for internal modules
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/app_components/balance_slider.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/components.rs
  crates/tasklens-ui/src/app_components/date_time_inputs/mod.rs
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/empty_state.rs
  crates/tasklens-ui/src/app_components/loading.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/page_header.rs
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/controllers/doc_controller.rs
  crates/tasklens-ui/src/controllers/mod.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_balance_data.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_prioritized_tasks.rs
  crates/tasklens-ui/src/hooks/use_score_trace.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/utils/async_utils.rs
  crates/tasklens-ui/src/utils/dioxus_runtime.rs
  crates/tasklens-ui/src/utils/mod.rs
  crates/tasklens-ui/src/views/mod.rs
Due: ./scripts/check-filenames.sh --files

chore(ui): add dialog to vendored components list
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files
