Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Reconcile f64 as Int for integer values
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Reconcile optional fields with MaybeMissing
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Reconcile notes field as automerge text
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Reconcile optional fields as missing when None
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Reconcile TaskStatus enum as automerge text
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Reconcile task title and URL as automerge text
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Enable golden reconcilliation test
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Skip the binary-import-export test (too flaky)
  apps/client/tests/e2e/features/binary-import-export.feature
  apps/client/tests/e2e/steps/binary.steps.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Standardize getrandom shims for WASM targets
  Cargo.lock
  Cargo.toml
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Add getrandom-v2 to tasklens-core
  crates/tasklens-core/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Minimize the footprint of getrandom
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Fix Rust-TypeScript Automerge schema compatibility
  Cargo.lock
  crates/tasklens-core/src/domain/creation.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/cross_compat_fuzz.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/utils/time_conversion.rs
  crates/tasklens-ui/src/views/plan_page.rs
  packages/tasklens/package.json
  packages/tasklens/src/bin/validate-compliance.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add tsx dev dependency for validate-compliance
  packages/tasklens/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Use pnpm exec for tsx in validate-compliance
  packages/tasklens/package.json
  packages/tasklens/src/bin/validate-compliance.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove AGENT_GIT_COMMIT_SECRET requirement
  .husky/pre-commit
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Install pnpm deps before Rust tests in CI
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Consolidate to single getrandom 0.3 for WASM
  Cargo.lock
  Cargo.toml
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Add Dioxus deployment workflow
  .github/workflows/deploy.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Use a personal access token to deploy
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Upgrade lots of stuff
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Migrate deploy workflow to dx bundle
  .github/workflows/deploy.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Prevent store signal deadlocks during async work
  crates/tasklens-store/benches/import_benchmark.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests_async.rs
  crates/tasklens-store/tests/load_backup.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files

Improve dioxus-cli install in deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Increase font sizes and hit areas
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/date_picker/mod.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/select/mod.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix TaskRow chevron spacing to prevent overlap
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_row.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

deploy: dd87ba5ed18333190b050312ec8d435739f6c628
  assets/tailwind-dxh3bee2817ccc52a59.css
  assets/tailwind-dxhd9d6b36c27a4e48.css
  assets/tasklens-ui-dxh68da4c2ae9dda6f7.js
  assets/tasklens-ui-dxhbefa2493fbc4dff3.js
  assets/tasklens-ui_bg-dxh2328aa39a1180b7.wasm
  assets/tasklens-ui_bg-dxha57da4596ef51e.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Regenerate tailwind.css
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

deploy: b4efeb2f93951726dcd643f4700f9f064a81741a
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactored error handling to use external Dioxus Signal and removed internal error state from AppStore
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/load_error_view.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Improve hydration error handling
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files

Repair legacy DoDonee status during hydration
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
Due: ./scripts/check-filenames.sh --files

Make load_error non-optional in more places
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files

Refactor toggle_task_status for better readability
  crates/tasklens-ui/src/controllers/task_controller.rs
Due: ./scripts/check-filenames.sh --files

deploy: f3146305933587030eeebf09de3e328111d7c890
  assets/tailwind-dxh3bee2817ccc52a59.css
  assets/tailwind-dxhce5c5525cf1688f.css
  assets/tasklens-ui-dxh68da4c2ae9dda6f7.js
  assets/tasklens-ui-dxh8278514df6e88ee.js
  assets/tasklens-ui_bg-dxha57da4596ef51e.wasm
  assets/tasklens-ui_bg-dxhe2e33ae9379fe9f9.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update assets/tailwind.css
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Tweak task row layout
  crates/tasklens-ui/src/components/task_row.rs
Due: ./scripts/check-filenames.sh --files

deploy: 80dcf493179c58db9dcf251d52e7b0a2c8f29670
  assets/tailwind-dxh3a5849a6f1486d46.css
  assets/tailwind-dxhce5c5525cf1688f.css
  assets/tasklens-ui-dxh82724dad3551d648.js
  assets/tasklens-ui-dxh8278514df6e88ee.js
  assets/tasklens-ui_bg-dxh9c952f5896c175d9.wasm
  assets/tasklens-ui_bg-dxhe2e33ae9379fe9f9.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
