Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Refactor ops.ts for type safety
  packages/tasklens/src/persistence/ops.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor test hygiene and internal API boundaries
  apps/client/src/components/modals/task-editor-modal.test.tsx
  apps/client/src/components/primitives/task-outline-item.test.tsx
  apps/client/src/components/primitives/task-row.test.tsx
  apps/client/src/components/shell/app-shell-container.test.tsx
  apps/client/src/components/shell/app-shell-container.tsx
  apps/client/src/components/views/plan/outline-tree.test.tsx
  apps/client/src/dev/seed-data.tsx
  apps/client/src/test/setup.tsx
  apps/client/src/viewmodel/document-utils.ts
  apps/client/src/viewmodel/intents/use-system-intents.test.tsx
  apps/client/src/viewmodel/intents/use-system-intents.ts
  apps/client/src/viewmodel/intents/use-task-intents-move.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/src/viewmodel/projections/use-priority-list.test.tsx
  apps/client/src/viewmodel/projections/use-task-details.test.tsx
  apps/client/src/viewmodel/projections/use-task-tree.test.tsx
  apps/client/src/viewmodel/ui/use-breadcrumbs.test.tsx
  apps/client/src/viewmodel/use-document.test.tsx
  packages/tasklens/package.json
  packages/tasklens/src/index.ts
  packages/tasklens/src/test/test-utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Improve client test hygiene and refactor utilities
  apps/client/src/components/modals/task-editor-modal.test.tsx
  apps/client/src/components/primitives/task-outline-item.test.tsx
  apps/client/src/components/primitives/task-row.test.tsx
  apps/client/src/components/shell/app-shell-container.test.tsx
  apps/client/src/components/shell/app-shell-container.tsx
  apps/client/src/components/views/plan/outline-tree.test.tsx
  apps/client/src/dev/seed-data.tsx
  apps/client/src/test/setup.tsx
  apps/client/src/viewmodel/document-utils.ts
  apps/client/src/viewmodel/intents/use-system-intents.test.tsx
  apps/client/src/viewmodel/intents/use-system-intents.ts
  apps/client/src/viewmodel/intents/use-task-intents-move.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/src/viewmodel/projections/use-priority-list.test.tsx
  apps/client/src/viewmodel/projections/use-task-details.test.tsx
  apps/client/src/viewmodel/projections/use-task-tree.test.tsx
  apps/client/src/viewmodel/ui/use-breadcrumbs.test.tsx
  apps/client/src/viewmodel/use-document.test.tsx
  apps/client/src/viewmodel/use-document.ts
  knip.json
  packages/tasklens/src/domain/initialization.ts
  packages/tasklens/src/domain/routine-tasks.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/react/hooks/use-task-actions.ts
  packages/tasklens/src/test/index.ts
  packages/tasklens/src/test/test-utils.ts
  packages/tasklens/src/utils/time.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor tasklens to use Redux Thunks
  apps/client/package.json
  apps/client/src/app.tsx
  apps/client/src/components/modals/task-editor-modal.test.tsx
  apps/client/src/components/shell/app-shell-container.tsx
  apps/client/src/components/views/balance/balance-view-container.tsx
  apps/client/src/components/views/plan/plan-view-container.test.tsx
  apps/client/src/dev/seed-data.tsx
  apps/client/src/store.ts
  apps/client/src/test/setup.tsx
  apps/client/src/viewmodel/containers/do-view-container.tsx
  apps/client/src/viewmodel/hooks/task-hooks.ts
  apps/client/src/viewmodel/intents/use-system-intents.test.tsx
  apps/client/src/viewmodel/intents/use-system-intents.ts
  apps/client/src/viewmodel/intents/use-task-intents-move.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.ts
  apps/client/src/viewmodel/projections/use-priority-list.test.tsx
  apps/client/src/viewmodel/projections/use-priority-list.ts
  apps/client/src/viewmodel/projections/use-task-details.test.tsx
  apps/client/src/viewmodel/projections/use-task-details.ts
  apps/client/src/viewmodel/projections/use-task-tree.test.tsx
  apps/client/src/viewmodel/ui/use-breadcrumbs.test.tsx
  apps/client/src/viewmodel/use-document.test.tsx
  apps/client/tests/e2e/mobile-drill-down.spec.ts
  docs/plan/state-primitives.md
  packages/tasklens/src/index.ts
  packages/tasklens/src/react/hooks/use-task-actions.ts
  packages/tasklens/src/react/hooks/use-task-entities.ts
  packages/tasklens/src/react/hooks/use-task.ts
  packages/tasklens/src/react/hooks/use-tasks-status.ts
  packages/tasklens/src/react/hooks/use-todo-list.ts
  packages/tasklens/src/react/task-lens-provider.tsx
  packages/tasklens/src/redux/middleware.ts
  packages/tasklens/src/redux/thunks.ts
  packages/tasklens/src/store/index.ts
  packages/tasklens/src/store/slices/tasks-slice.ts
  packages/tasklens/src/types/persistence.ts
  packages/tasklens/tests/unit/routine-tasks.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Add import-x lint rules and fix imports
  apps/client/src/components/pwa/reload-prompt.test.tsx
  apps/client/src/components/views/plan/plan-view-container.test.tsx
  apps/client/src/store.ts
  apps/client/src/test/setup.tsx
  eslint.config.js
  packages/tasklens/src/index.ts
  packages/tasklens/tests/unit/priority-inheritance.test.ts
  packages/tasklens/tests/unit/routine-tasks.test.ts
  packages/tasklens/tests/unit/selectors.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove misleading comment about mock import order
  apps/client/src/components/pwa/reload-prompt.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Simplify TaskLens Redux integration
  apps/client/package.json
  apps/client/src/store.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/store/index.ts
  packages/tasklens/src/test/test-utils.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Add guidance
  AGENTS.md
  docs/guidance/code-review.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refactor Redux for strict types and simplify tests
  .gitignore
  AGENTS.md
  apps/client/src/components/shell/app-shell-container.test.tsx
  apps/client/src/components/views/plan/plan-view-container.test.tsx
  apps/client/src/test/setup.tsx
  apps/client/src/viewmodel/intents/use-system-intents.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents-move.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/src/viewmodel/projections/use-priority-list.test.tsx
  apps/client/src/viewmodel/projections/use-task-details.test.tsx
  apps/client/src/viewmodel/projections/use-task-tree.test.tsx
  apps/client/src/viewmodel/ui/use-breadcrumbs.test.tsx
  apps/client/src/viewmodel/use-document.test.tsx
  docs/guidance/code-review.md
  packages/tasklens/src/store/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Expand tasklens exports
  packages/tasklens/package.json
  packages/tasklens/src/domain/index.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/test/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Finalize TaskLens API and replace legacy Task type
  apps/client/src/components/composites/priority-task-list.tsx
  apps/client/src/components/modals/task-editor-modal.test.tsx
  apps/client/src/components/modals/task-editor-modal.tsx
  apps/client/src/components/primitives/task-row.test.tsx
  apps/client/src/components/primitives/task-row.tsx
  apps/client/src/viewmodel/containers/task-editor-container.tsx
  packages/tasklens/src/index.ts
  packages/tasklens/src/types/ui.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Ignore .gemini/commands/my
  .gitignore
Due: ./scripts/check-filenames.sh --files

Implement due date urgency and inheritance
  AGENTS.md
  apps/client/package.json
  apps/client/playwright.config.ts
  apps/client/src/components/modals/task-editor-modal.tsx
  apps/client/src/components/primitives/due-date-badge.tsx
  apps/client/src/components/primitives/task-outline-item.tsx
  apps/client/src/components/primitives/task-row.tsx
  apps/client/src/components/ui/date-input.test.tsx
  apps/client/src/components/ui/date-input.tsx
  apps/client/src/lib/date-formatting.ts
  apps/client/tests/e2e/features/due-dates.feature
  apps/client/tests/e2e/pages/plan-page.ts
  apps/client/tests/e2e/steps/all.steps.ts
  packages/tasklens/package.json
  packages/tasklens/src/domain/dates.ts
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/domain/projections.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/test/test-utils.ts
  packages/tasklens/src/types/internal.ts
  packages/tasklens/src/types/ui.ts
  packages/tasklens/tests/unit/due-dates.test.ts
  packages/tasklens/tests/unit/priority-inheritance.test.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refactor time design and document e2e execution
  AGENTS.md
  docs/design/testing.md
  docs/design/time-landscape.md
  docs/design/time.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement non-mutating due date inheritance
  apps/client/package.json
  apps/client/src/components/modals/task-editor-modal.tsx
  apps/client/src/components/primitives/due-date-badge.tsx
  apps/client/src/components/views/plan/plan-view-container.test.tsx
  apps/client/src/components/views/plan/plan-view-container.tsx
  apps/client/src/viewmodel/ui/use-breadcrumbs.ts
  apps/client/tests/e2e/features/due-dates.feature
  apps/client/tests/e2e/pages/plan-page.ts
  apps/client/tests/e2e/steps/all.steps.ts
  packages/tasklens/package.json
  packages/tasklens/specs/compliance/fixtures/due_dates.feature.yaml
  packages/tasklens/specs/compliance/fixtures/inheritance-schedule.feature.yaml
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/domain/projections.ts
  packages/tasklens/src/domain/readiness.ts
  packages/tasklens/src/domain/routine-tasks.ts
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/tests/unit/algorithm.test.ts
  packages/tasklens/tests/unit/due-dates.test.ts
  packages/tasklens/tests/unit/priority-inheritance.test.ts
  packages/tasklens/tests/unit/routine-tasks.test.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refactor Playwright config and increase CI workers
  apps/client/playwright.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Allow snake_case for Markdown files
  .ls-lint.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Initial Rust migration plan
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Codify project layout
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 1.1
  .gitignore
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/sync_protocol/Cargo.toml
  crates/sync_protocol/src/lib.rs
  crates/sync_server/Cargo.toml
  crates/sync_server/src/db.rs
  crates/sync_server/src/main.rs
  crates/sync_server/tests/integration_test.rs
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/lib.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/lib.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/src/main.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

This works: dx serve --package tasklens-ui
  Cargo.lock
  Cargo.toml
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
Due: ./scripts/check-filenames.sh --files

Ignore rust outputs in root eslint config
  eslint.config.js
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Plan milestone 1.2
  AGENTS.md
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 1.2
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/backup_test.rs
  crates/tasklens-core/tests/fixtures/medieval_tasks.json
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Enforce cargo fmt --check in pre-commit
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Plan milestone 1.3
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 1.3 done
  AGENTS.md
  AGENTS_DIOXUS.md
  crates/tasklens-core/src/domain/dates.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/readiness.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/src/utils/mod.rs
  crates/tasklens-core/src/utils/time.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 1.4
  .agent/workflows/plan-next-dioxus-milestone.md
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implemented Milestone 1.4
  .agent/workflows/implement-next-dioxus-migration.md
  .agent/workflows/plan-next-dioxus-milestone.md
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  docs/plan/rust_migration.md
  packages/tasklens/specs/compliance/fixtures/sorting-importance-tiebreaker.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Add some cleanup todos
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Add clippy code complexity warnings
  Cargo.toml
  clippy.toml
Due: ./scripts/check-filenames.sh --files

Simplify types
  clippy.toml
  crates/tasklens-core/src/domain/priority.rs
Due: ./scripts/check-filenames.sh --files

Plan milestone 2.1
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement Milestone 2.1 part 1
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Progress on milestone 2.1
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/prop_serialization.proptest-regressions
  crates/tasklens-core/tests/prop_serialization.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Upgrade turbo to 2.7.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Complete Milestone 2.1 with IndexedDB persistence
  AGENTS.md
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/dates.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/readiness.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/src/utils/time.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/fixture_validation.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.2
  .agent/workflows/plan-next-dioxus-milestone.md
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/src/utils/time.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/main.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Pivot to bespoke sync server
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Pivot to bespoke sync server, in more detail
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
