Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

chore(dioxus): vendor components @ 7943bed2eb59ee43d713f935e0ba17989c02b992
  Cargo.lock
Due: ./scripts/check-filenames.sh --files

fix(xtask): enforce lock pin offline and restore Cargo.lock
  Cargo.lock
  xtask/src/commands/check_dioxus_lock_pin.rs
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

docs: update dioxus components migration todo
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(xtask): share dioxus lockfile rev parser
  xtask/src/commands/check_dioxus_lock_pin.rs
  xtask/src/commands/dioxus_lock.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(gemini): add style guide for minimal dioxus primitive changes
  .gemini/styleguide.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs(tasklens-ui): document dioxus vendor tree and path map
  crates/tasklens-ui/src/dioxus_components/README.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(xtask): enforce strict vendor branch allowlist
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Update vendor commit message format
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to 7943bed2eb59ee43d713f935e0ba17989c02b992
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
  crates/tasklens-ui/src/dioxus_components/button/component.rs
  crates/tasklens-ui/src/dioxus_components/button/mod.rs
  crates/tasklens-ui/src/dioxus_components/button/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Improve vendor update workflow
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

fix(xtask): sync vendor branch with origin and bail on divergence
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

refactor(xtask): source dioxus module path from vendor config
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  xtask/src/commands/update_dioxus_components.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(xtask): move dioxus registry pin into vendor config
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  xtask/src/commands/update_dioxus_components.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(xtask): centralize dioxus revision checks and UX
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/commands/check_dioxus_lock_pin.rs
  xtask/src/commands/dioxus_info.rs
  xtask/src/commands/dioxus_lock.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Configure Playwright for Trunk flaky tests
  .github/workflows/ci.yml
  .gitignore
  crates/tasklens-ui/playwright.config.ts
  justfile
  knip.json
  scripts/fix-junit.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update scripts/fix-junit.js
  scripts/fix-junit.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix path to fix-junit.js in justfile for GitHub Actions
  justfile
Due: ./scripts/check-filenames.sh --files

Port fix-junit to TypeScript and add tests
  justfile
  knip.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/fix-junit.js
  scripts/fix-junit.test.ts
  scripts/fix-junit.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Port fix-junit to xtask using quick-xml
  Cargo.lock
  justfile
  pnpm-workspace.yaml
  scripts/fix-junit.test.ts
  scripts/fix-junit.ts
  scripts/package.json
  xtask/Cargo.toml
  xtask/src/commands/fix_junit.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update fix-junit command description to be more specific
  xtask/src/commands/fix_junit.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Refactor fix-junit XML processing
  xtask/src/commands/fix_junit.rs
Due: ./scripts/check-filenames.sh --files

Update JUnit XML path and Playwright config
  .github/workflows/ci.yml
  .gitignore
  crates/tasklens-ui/playwright.config.ts
  justfile
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update pnpm-lock.yaml after removing tsx
  pnpm-lock.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

fix: remove renovate grouping
  renovate.jsonc
Due: ./scripts/check-filenames.sh --files

refactor(tasklens-ui): split app components and localize e2e web server
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/package.json
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/app_components/balance_slider.rs
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/empty_state.rs
  crates/tasklens-ui/src/app_components/load_error_view.rs
  crates/tasklens-ui/src/app_components/loading.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/page_header.rs
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/dioxus_components/button/mod.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

chore: fix pnpm lockfile and missing catalog entry for serve
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: define incremental dioxus component migration chunk
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): complete button vertical slice migration
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/dioxus_components/README.md
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/do_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to 7943bed2eb59ee43d713f935e0ba17989c02b992
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/README.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: require xtask for dioxus component vendoring
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(vendor): include input in dioxus vendor config
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to 7943bed2eb59ee43d713f935e0ba17989c02b992
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/input/component.rs
  crates/tasklens-ui/src/dioxus_components/input/mod.rs
  crates/tasklens-ui/src/dioxus_components/input/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-10 18:48:28
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Refactor core types into separate modules
  crates/tasklens-core/src/types/mod.rs
  crates/tasklens-core/src/types/persistent.rs
  crates/tasklens-core/src/types/transient.rs
Due: ./scripts/check-filenames.sh --files

feat(ui): migrate input to vendored dioxus component
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/dioxus_components/input/mod.rs
  crates/tasklens-ui/src/dioxus_components/input/style.css
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-10 19:07:37
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-10 19:07:57
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

docs: tighten dioxus component migration critical path
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): split use_sync into platform modules
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/hooks/use_sync/desktop.rs
  crates/tasklens-ui/src/hooks/use_sync/wasm.rs
Due: ./scripts/check-filenames.sh --files

Block PRs from sync and pristine source branches
  .github/workflows/block-bad-source-branches.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
