Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:28:18
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:28:40
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:28:47
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:29:00
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:29:05
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:29:32
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:30:00
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:30:49
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Suppress external cargo registry diagnostics
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add Landing the Plane session completion guidelines
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refactor high complexity functions and enable lint
  Cargo.toml
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  xtask/src/commands/check_catalog.rs
Due: ./scripts/check-filenames.sh --files

Optimize task ID calculation in healing logic
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Ensure Do list scores are sibling-independent
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/creation.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance/fixtures/balance-aggregation.feature.json
  crates/tasklens-core/tests/compliance/fixtures/repro-neutral-inheritance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/tree-order.feature.json
  crates/tasklens-core/tests/compliance/fixtures/weight.feature.json
  crates/tasklens-core/tests/compliance/fixtures/zero-feedback.feature.json
  crates/tasklens-ui/src/views/score_trace_page.rs
  docs/design/algorithm.md
  docs/design/prd.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Simplify importance ratio calculation
  crates/tasklens-core/src/domain/priority.rs
Due: ./scripts/check-filenames.sh --files

Rename legacy_description to description in compliance fixtures
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/balance-aggregation.feature.json
  crates/tasklens-core/tests/compliance/fixtures/balancing.feature.json
  crates/tasklens-core/tests/compliance/fixtures/boost-importance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/boost-lead-time.feature.json
  crates/tasklens-core/tests/compliance/fixtures/completion-acknowledgement.feature.json
  crates/tasklens-core/tests/compliance/fixtures/complex-mutation.feature.json
  crates/tasklens-core/tests/compliance/fixtures/decay.feature.json
  crates/tasklens-core/tests/compliance/fixtures/deletion.feature.json
  crates/tasklens-core/tests/compliance/fixtures/lead-time-edge-cases.feature.json
  crates/tasklens-core/tests/compliance/fixtures/lead-time.feature.json
  crates/tasklens-core/tests/compliance/fixtures/min-threshold.feature.json
  crates/tasklens-core/tests/compliance/fixtures/repro-neutral-inheritance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/repro-stale-leadtime.feature.json
  crates/tasklens-core/tests/compliance/fixtures/root-importance.feature.json
  crates/tasklens-core/tests/compliance/fixtures/sequential-flow.feature.json
  crates/tasklens-core/tests/compliance/fixtures/sorting.feature.json
  crates/tasklens-core/tests/compliance/fixtures/thermostat.feature.json
  crates/tasklens-core/tests/compliance/fixtures/tree-order-id-conflict.feature.json
  crates/tasklens-core/tests/compliance/fixtures/tree-order.feature.json
  crates/tasklens-core/tests/compliance/fixtures/visibility-place-filtering.feature.json
  crates/tasklens-core/tests/compliance/fixtures/weight.feature.json
  crates/tasklens-core/tests/compliance/fixtures/zero-feedback.feature.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat: add UpdatePlace and DeletePlace actions
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/place-deletion.feature.json
  crates/tasklens-core/tests/compliance/fixtures/place-update.feature.json
  crates/tasklens-store/src/adapter.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 09:10:05
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Deploying to public from @ matta/mydoo@2514d9bf8371f3f1421bd4fe11bcd33f3a1d2708 🚀
  .nojekyll
  assets/dx-components-theme-dxh7fc51caf1683420.css
  assets/focus-trap-dxhb0f8e68e347ebba5.js
  assets/style-dxh3dae7c18ece4f42.css
  assets/style-dxh69d67e393aa9e96.css
  assets/style-dxhca194e49dcecbc95.css
  assets/style-dxhe04d148565f9e7c3.css
  assets/style-dxhe1e27deea4110ba.css
  assets/tailwind-dxh9c32f2c97daf714.css
  assets/tasklens-ui-dxh96d32b4492f4a785.js
  assets/tasklens-ui_bg-dxhcf50582be68fa775.wasm
  icon-192.png
  icon-512.png
  index.html
  manifest.json
  pwa-glue.js
  screenshot-desktop.png
  screenshot-mobile.png
  service-worker.js
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

feat: add UpdatePlace and DeletePlace actions
  crates/tasklens-core/tests/compliance.rs
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance.rs
Due: ./scripts/check-filenames.sh --files

Refactor handle_delete_place to be more surgical
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/tests/compliance.rs
Due: ./scripts/check-filenames.sh --files

Fix compliance fixture by renaming legacy_description to description
  crates/tasklens-core/tests/compliance/fixtures/repro-neutral-inheritance.feature.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix legacy_description usage in compliance tests and fixtures
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/place-deletion.feature.json
  crates/tasklens-core/tests/compliance/fixtures/place-update.feature.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd sync: 2026-02-08 12:52:04
  .beads/issues.jsonl
  .beads/sync-state.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd sync: 2026-02-08 12:54:35
  .beads/issues.jsonl
  .beads/sync-state.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd sync: 2026-02-08 12:56:53
  .beads/beads.left.meta.json
  .beads/issues.jsonl
  .beads/sync-state.json
  .beads/sync_base.jsonl
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd sync: 2026-02-08 12:57:02
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd sync: 2026-02-08 12:57:12
  .beads/issues.jsonl
  .beads/sync-state.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 13:33:50
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 13:33:58
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 13:34:03
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 13:34:08
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 13:40:24
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 20:51:50
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
