Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Update generated Tailwind range utility classes
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): replace loading spinner with CSS module
  .agent/skills/dx-slice/SKILL.md
  crates/tasklens-ui/src/app_components/loading.rs
  crates/tasklens-ui/src/app_components/loading_style.css
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): replace DaisyUI theme tokens with bridge colors
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/page_header.rs
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

fix(tasklens-ui): respect prefers-reduced-motion in loading spinner
  crates/tasklens-ui/src/app_components/loading_style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): remove daisyui plugin and close phase 1 gates
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/package.json
  crates/tasklens-ui/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Compress dx components planning docs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: flesh out tailwind removal slices and gates
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore: add navbar and popover to vendored components
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to cc61648268e2d5a7291fb74276e1e7f6a12ae84e
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/mod.rs
  crates/tasklens-ui/src/dioxus_components/navbar/component.rs
  crates/tasklens-ui/src/dioxus_components/navbar/mod.rs
  crates/tasklens-ui/src/dioxus_components/navbar/style.css
  crates/tasklens-ui/src/dioxus_components/popover/component.rs
  crates/tasklens-ui/src/dioxus_components/popover/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/style.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): migrate to vendored navbar/popover and remove shim
  crates/tasklens-ui/src/app_components/alert.rs
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/load_error_view.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/dialog/component.rs
  crates/tasklens-ui/src/components/dialog/mod.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/navbar/component.rs
  crates/tasklens-ui/src/components/navbar/mod.rs
  crates/tasklens-ui/src/components/navbar/style.css
  crates/tasklens-ui/src/components/popover/component.rs
  crates/tasklens-ui/src/components/popover/mod.rs
  crates/tasklens-ui/src/components/popover/style.css
  crates/tasklens-ui/src/dioxus_components/navbar/mod.rs
  crates/tasklens-ui/src/dioxus_components/popover/mod.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/auth.rs
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): de-tailwind Task Editor surfaces (Slice TW2)
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/views/auth.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): migrate Task Editor surfaces to CSS modules
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/app_navbar.css
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/move_picker.css
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs(migration): note CSS module adoption in checklist
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/app.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): address PR review comments for TW2 migration
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/alert.rs
  crates/tasklens-ui/src/app_components/app_navbar.css
  crates/tasklens-ui/src/app_components/move_picker.css
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/views/auth.css
  crates/tasklens-ui/src/views/auth.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(tasklens-ui): use CSS variable for save button shadow
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/task_editor.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(ui): complete Slice TW3 de-tailwind of task-flow surfaces
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/back_button.css
  crates/tasklens-ui/src/app_components/back_button.rs
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/load_error_view.css
  crates/tasklens-ui/src/app_components/load_error_view.rs
  crates/tasklens-ui/src/app_components/page_header.css
  crates/tasklens-ui/src/app_components/page_header.rs
  crates/tasklens-ui/src/app_components/priority_task_row.css
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/search_panel.css
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.css
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_input.css
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/app_components/task_row.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

chore: de-tailwind page shells and analytics surfaces (Slice TW4)
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/balance_page.css
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.css
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.css
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.css
  crates/tasklens-ui/src/views/task_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Use data-open attribute for search panel checks
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

fix: commit the generated tailwind.css
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

update tailwind.css
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

refactor(ui): fix CSS naming and optimize RSX classes
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/balance_page.css
  crates/tasklens-ui/src/views/do_page.css
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/score_trace_page.css
  crates/tasklens-ui/src/views/task_page.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Declare the css modules at file scope
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files

docs: split tailwind removal into TW5a-TW5c
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

TW5a sub-slice: scope utility replacements to component CSS modules
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

TW5a sub-slice: remove @apply and narrow Tailwind source scope
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

TW5b: add reset parity rules and pass no-tailwind canary
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/assets/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

TW5c: remove Tailwind runtime and close Phase 2
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/tailwind.css
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

TW5b follow-up: remove !important from hidden reset rule
  crates/tasklens-ui/assets/app.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Cleanup: remove stale tailwind.css references from tooling docs
  AGENTS_DIOXUS.md
  biome.json
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

style(app.css): add form control reset parity properties
  crates/tasklens-ui/assets/app.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

perf(ui): optimize TaskRow performance and avoid task cloning
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/dispatch.rs
Due: ./scripts/check-filenames.sh --files

fix(ui): fix PlanPage Dioxus 0.7 errors and imports
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

refactor(tasklens-ui): enforce adapter-first upstream form styling
  crates/tasklens-ui/.gemini/styleguide.md
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/form_controls.css
  crates/tasklens-ui/src/app_components/form_controls.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  docs/guidance/dioxus-upstream-styling.md
  justfile
  scripts/check-dioxus-upstream-styling.sh
  scripts/dioxus-upstream-styling.allowlist
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

perf(tasklens-ui): reduce class string churn in form adapters
  crates/tasklens-ui/src/app_components/form_controls.rs
Due: ./scripts/check-filenames.sh --files

docs: standardize Dioxus Vendored guidance and design docs
  crates/tasklens-ui/AGENTS.md
  crates/tasklens-ui/src/dioxus_components/README.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
  docs/design/dioxus-vendored-components-design.md
  docs/guidance/dioxus-upstream-styling.md
  docs/guidance/dioxus-vendored-customization.md
  docs/guidance/dioxus-vendored-styling.md
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files
