Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Removed the IndexdDbStorage type
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

De-couple core Automerge logic from store
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Fix update_task to validate the task exists first
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

deploy: ff20bf09e27650a1c90f92900ec4521ee87d9d43
  assets/tasklens-ui-dxhb5f8bcf229b24e8.js
  assets/tasklens-ui_bg-dxh79953f46985c48e3.wasm
  assets/tasklens-ui_bg-dxh9c952f5896c175d9.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add FIXME comments to create_new_task, move_task
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

Add property-based merge tests for TaskLens store
  crates/tasklens-store/proptest-regressions/store/tests_merge.txt
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests_merge.rs
Due: ./scripts/check-filenames.sh --files

Validate parent_id exists
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

Add proptest fuzz tests and shared utilities
  crates/tasklens-store/proptest-regressions/store/tests_fuzz.txt
  crates/tasklens-store/proptest-regressions/store/tests_merge.txt
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/test_common.rs
  crates/tasklens-store/src/store/tests_fuzz.rs
  crates/tasklens-store/src/store/tests_merge.rs
Due: ./scripts/check-filenames.sh --files

Validate and improve handle_move_task logic
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

Fix parent and child consistency fuzz failures
  crates/tasklens-store/proptest-regressions/store/tests_fuzz.txt
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/store/test_common.rs
  crates/tasklens-store/src/store/tests_fuzz.rs
Due: ./scripts/check-filenames.sh --files

Fix missing keys handling in task store adapter
  AGENTS.md
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/adapter/tests/mod.rs
  crates/tasklens-store/src/store.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix some warnings
  crates/tasklens-store/src/storage.rs
Due: ./scripts/check-filenames.sh --files

deploy: b3f86b539abf58ef5fe239623736fffabd09f132
  assets/tasklens-ui-dxh7093f4cb874d848e.js
  assets/tasklens-ui-dxhb5f8bcf229b24e8.js
  assets/tasklens-ui_bg-dxh79953f46985c48e3.wasm
  assets/tasklens-ui_bg-dxhd7c0986b9d838fa.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix WASM vs. getrandom issues
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
  scripts/check-rust.sh
Due: ./scripts/check-filenames.sh --files

Restore proptest-regressions
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_fuzz.txt
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
Due: ./scripts/check-filenames.sh --files

Add tests for recent adapter fixes
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

Fix cycle bugs and improve task operations
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_fuzz.txt
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

Fix underflow in routine task wake-up
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

Remove task parentId when moving to root
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

Optimize task hierarchy and uniqueness checks
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Tweak the fuzz tests to run faster
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
Due: ./scripts/check-filenames.sh --files

Fix structural leaks by promoting orphaned tasks
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Add per-replica prefixes to fuzz test strategies
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Fix broken root links and orphaned tasks
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
Due: ./scripts/check-filenames.sh --files

Fix character-level merge corruption in enums
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Fix WASM build and apply code formatting
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

deploy: 5a0c0a9ac5e9a2e8f2026f2904ad9c2d44a40f7f
  assets/tasklens-ui-dxh7093f4cb874d848e.js
  assets/tasklens-ui-dxhe309f7a676e916.js
  assets/tasklens-ui_bg-dxhd7c0986b9d838fa.wasm
  assets/tasklens-ui_bg-dxhdf23ee119311d493.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Migrate enums to Automerge Scalars; fix E2E races
  apps/client/playwright.config.ts
  apps/client/src/viewmodel/intents/use-system-intents.test.tsx
  apps/client/src/viewmodel/intents/use-task-intents.test.tsx
  apps/client/tests/e2e/steps/all.steps.ts
  crates/tasklens-store/src/storage.rs
  crates/tasklens-ui/playwright.config.ts
  knip.json
  packages/tasklens/specs/compliance/fixtures/balancing.feature.yaml
  packages/tasklens/src/domain/priority.ts
  packages/tasklens/src/domain/reconciler.ts
  packages/tasklens/src/domain/routine-tasks.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/persistence/ops.ts
  packages/tasklens/src/persistence/schemas.ts
  packages/tasklens/src/persistence/store.ts
  packages/tasklens/src/redux/thunks.ts
  packages/tasklens/src/store/index.ts
  packages/tasklens/src/store/slices/tasks-slice.ts
  packages/tasklens/src/types/persistence.ts
  packages/tasklens/src/types/ui.ts
  packages/tasklens/tests/unit/algorithm.test.ts
  packages/tasklens/tests/unit/create-task-defaults.test.ts
  packages/tasklens/tests/unit/credits.test.ts
  packages/tasklens/tests/unit/persistence-scalars.test.ts
  packages/tasklens/tests/unit/reconciler.test.ts
  packages/tasklens/tests/unit/routine-tasks.test.ts
  packages/tasklens/tests/unit/schema-evolution.test.ts
  packages/tasklens/tests/unit/store.test.ts
  packages/tasklens/tests/unit/tasks-slice.test.ts
  packages/tasklens/tests/unit/update-task.test.ts
  pnpm-lock.yaml
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Code review feedback
  packages/tasklens/src/persistence/ops.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: e55ddb514707f5b12626e58079f3421a2419ceb4
  assets/tasklens-ui-dxh0c5d8617c48a2b.js
  assets/tasklens-ui-dxhe309f7a676e916.js
  assets/tasklens-ui_bg-dxh1e5bdfe8e5d1b46b.wasm
  assets/tasklens-ui_bg-dxhdf23ee119311d493.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Use thiserror in the store adapter
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Make build.rs quiet
  crates/tasklens-ui/build.rs
Due: ./scripts/check-filenames.sh --files

Update tests for enum scalar migration
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/golden_reconciliation.rs
Due: ./scripts/check-filenames.sh --files

Enable merge invariants fuzz test
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
Due: ./scripts/check-filenames.sh --files

Strengthen task tree invariant checks
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Test and implement cascade deletion
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  packages/tasklens/specs/compliance/fixtures/deletion.feature.yaml
  packages/tasklens/specs/compliance/schemas/feature.schema.json
  packages/tasklens/tests/unit/algorithm.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Add WASM compatibility check to justfile
  crates/tasklens-store/src/store.rs
  justfile
Due: ./scripts/check-filenames.sh --files

Configure WASM compatibility for the workspace
  crates/tasklens-core/Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/benches/import_benchmark.rs
  crates/tasklens-store/src/samod_storage.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/tests/cross_compat_fuzz.rs
  crates/tasklens-store/tests/load_backup.rs
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

Fix clippy unused import warning in benchmark
  crates/tasklens-store/benches/import_benchmark.rs
Due: ./scripts/check-filenames.sh --files

deploy: 244ba44e5e88078fe42c91f3394f4b0e43f94412
  assets/tasklens-ui-dxh0c5d8617c48a2b.js
  assets/tasklens-ui-dxh22518b7b4c431b67.js
  assets/tasklens-ui_bg-dxh1e5bdfe8e5d1b46b.wasm
  assets/tasklens-ui_bg-dxh4f33e96c38bcd8ba.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
