Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Store create task now does surgical updates
  crates/tasklens-store/src/store.rs
  docs/guidance/autosurgeon.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Simplify the store create task code
  crates/tasklens-store/src/store.rs
  docs/guidance/autosurgeon.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Store update task uses surgical updates
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Plan the sync e2e test effort
  docs/plan/sync-e2e.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Surgical updates for delete_task
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Complete task uses surgical updates
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Use pnpm to run generate
  crates/tasklens-ui/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Implement sync/persistence hooks and UI
  AGENTS.md
  Cargo.lock
  crates/tasklens-store/src/network.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Fix sync settings occlusion and update E2E tests
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/sync-settings.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove unused page param from sync settings test
  crates/tasklens-ui/tests/e2e/specs/sync-settings.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add SyncServerHelper test utility
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Mark SyncServerHelper task as complete in plan
  conductor/tracks.md
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Integrate SyncServerHelper with Playwright
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add E2E Sync Verification track, mark Phase 1 done
  conductor/tracks/sync_e2e_verification_20260119/index.md
  conductor/tracks/sync_e2e_verification_20260119/metadata.json
  conductor/tracks/sync_e2e_verification_20260119/plan.md
  conductor/tracks/sync_e2e_verification_20260119/spec.md
  crates/tasklens-ui/.gitignore
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Use random port in SyncServerHelper unit test
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 1
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Mark phase 'Phase 1' as complete in plan
  conductor/tracks/sync_e2e_verification_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Define Alice and Bob multi-user fixtures
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Mark multi-user fixtures task as complete in plan
  conductor/tracks/sync_e2e_verification_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement sync status reporting
  crates/tasklens-store/src/network.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
Due: ./scripts/check-filenames.sh --files

Checkpoint end of Phase 3
  crates/tasklens-ui/tests/e2e/multi-user.test.ts
  crates/tasklens-ui/tests/e2e/sync.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Mark Phase 3 as complete (blocked)
  conductor/tracks/sync_e2e_verification_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Sync E2E track as complete
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete Sync E2E track folder
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Use discovery_key and generic sync payloads
  Cargo.lock
  conductor/tracks.md
  conductor/tracks/discovery_key_sync_20260119/index.md
  conductor/tracks/discovery_key_sync_20260119/metadata.json
  conductor/tracks/discovery_key_sync_20260119/plan.md
  conductor/tracks/discovery_key_sync_20260119/spec.md
  crates/tasklens-sync-protocol/Cargo.toml
  crates/tasklens-sync-protocol/src/lib.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Update plan for protocol refactoring tasks
  conductor/tracks/discovery_key_sync_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark phase 'Protocol Refactoring' as complete
  conductor/tracks/discovery_key_sync_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement discovery_key sync pattern
  crates/tasklens-sync-server/src/db.rs
  crates/tasklens-sync-server/src/main.rs
  crates/tasklens-sync-server/tests/integration_test.rs
Due: ./scripts/check-filenames.sh --files

Delete cruft
  conductor/tracks/sync_e2e_verification_20260119/index.md
  conductor/tracks/sync_e2e_verification_20260119/metadata.json
  conductor/tracks/sync_e2e_verification_20260119/plan.md
  conductor/tracks/sync_e2e_verification_20260119/spec.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Finish task
  conductor/tracks/discovery_key_sync_20260119/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix store compilation after dioxus merge
  crates/tasklens-store/src/network.rs
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Refactor sync service to use pure protocol client
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/network.rs
  crates/tasklens-sync-protocol/Cargo.toml
  crates/tasklens-sync-protocol/src/client.rs
  crates/tasklens-sync-protocol/src/lib.rs
  docs/plan/sync-e2e.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix import warnings
  crates/tasklens-store/src/network.rs
  crates/tasklens-sync-protocol/src/client.rs
Due: ./scripts/check-filenames.sh --files

Implement multi-user sync & fix persistence race
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/tests/e2e/sync.spec.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove completed sync E2E plan
  docs/plan/sync-e2e.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Configure dependabot for cargo
  .github/dependabot.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Downgrade rand to 0.8 to fix argon2 conflicts
  Cargo.lock
  crates/tasklens-store/Cargo.toml
Due: ./scripts/check-filenames.sh --files

Fix renovate.json formatting
  renovate.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add stability days to renovate.json
  renovate.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
