Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Add learnings
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 3.4
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 3.5
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix dialog CSS
  crates/tasklens-ui/src/components/dialog/component.rs
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

Milestone 3.5
  AGENTS.md
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/features/routine-tasks.feature
  crates/tasklens-ui/tests/e2e/features/task-lifecycle.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 3.6
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement auto-expansion and task highlighting
  .agent/workflows/implement-next-dioxus-migration.md
  Cargo.lock
  crates/tasklens-core/src/domain/creation.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tailwind.css
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 3.7
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add task movement with Move, Indent, and Outdent
  .agent/workflows/signoff-on-milestone.md
  AGENTS.md
  crates/tasklens-core/src/domain/hierarchy.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/package.json
  crates/tasklens-ui/src/components/dialog/style.css
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/tests/e2e/README.md
  crates/tasklens-ui/tests/e2e/features/task-moving.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  docs/plan/rust_migration.md
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refine migration plan & capture UI learnings
  .agent/workflows/plan-next-dioxus-milestone.md
  AGENTS.md
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement due dates and urgency status
  crates/tasklens-core/src/domain/dates.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/tests/e2e/features/due-dates.feature
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add Rust and Dioxus code review conventions
  docs/guidance/code-review.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update migration plan for routine tasks milestone
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement binary I/O with identity preservation
  apps/client/package.json
  apps/client/src/components/shell/app-shell-container.tsx
  apps/client/tests/e2e/features/binary-import-export.feature
  apps/client/tests/e2e/pages/plan-page.ts
  apps/client/tests/e2e/steps/all.steps.ts
  apps/client/tests/e2e/steps/binary.steps.ts
  packages/tasklens/src/domain/initialization.ts
  packages/tasklens/src/domain/reconciler.ts
  packages/tasklens/src/index.ts
  packages/tasklens/src/persistence/schemas.ts
  packages/tasklens/src/redux/middleware.ts
  packages/tasklens/src/types/persistence.ts
  packages/tasklens/tests/unit/reconciler.test.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Add due date inheritance and urgency visualization
  AGENTS.md
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/storage.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/date_picker/mod.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/utils/mod.rs
  crates/tasklens-ui/src/utils/time_conversion.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Serialize e2e tests to prevent flakiness
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Plan milestone 3.10 Sequentail Projects
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add sequential project toggle to task editor
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/tests/e2e/features/sequential-projects.feature
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Plan migration 3.11
  docs/plan/rust_migration.md
  tempcontext/.gitignore
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement document ID management and fix E2E
  crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/features/document-switching.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Implement document-only identity and switcher
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/features/document-switching.feature
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add hard-won learnings to AGENTS.md
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement binary document import and export
  AGENTS.md
  Cargo.lock
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/tests/e2e/features/binary-import-export.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Fix Automerge hydration for production backups
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/creation.rs
  crates/tasklens-core/src/domain/dates.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/readiness.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/src/utils/time.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/actions.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/tests/data/golden.automerge
  crates/tasklens-store/tests/load_backup.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/utils/time_conversion.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files

Fix serialization bugs
  crates/tasklens-core/src/domain/readiness.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/backup_test.rs
  crates/tasklens-store/src/debug_utils.rs
  crates/tasklens-store/src/lib.rs
Due: ./scripts/check-filenames.sh --files

Implement code-first BDD steps library pattern
  crates/tasklens-ui/package.json
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/tests/e2e/features/add-one-task.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/specs/add-one-task.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  docs/guidance/bdd-code-first-gherkin.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Refactor golden file import to code-first spec
  crates/tasklens-ui/tests/e2e/specs/import-golden.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix warning
  crates/tasklens-ui/tests/e2e/specs/import-golden.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add autosurgeon guidance
  docs/guidance/autosurgeon.md
Due: prettier --write, ./scripts/check-filenames.sh --files

A little timing helper thing
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/profiling.rs
  crates/tasklens-ui/src/utils/mod.rs
  crates/tasklens-ui/src/utils/profiling.rs
Due: ./scripts/check-filenames.sh --files

A benchmark for doc loading
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/benches/import_benchmark.rs
Due: ./scripts/check-filenames.sh --files

Add autosurgeon keys to tasklens types
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Optimize hydration in import_doc
  crates/tasklens-store/benches/import_benchmark.rs
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Mark expensive reconcile calls
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/seed.rs
Due: ./scripts/check-filenames.sh --files

Add automerge testing guidance
  docs/guidance/automerge-testing.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add more store test coverage
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Refactor store dispatch into functions
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Add todo comments for reconcile optimization
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files

Add more test coverage for create task
  crates/tasklens-store/src/store.rs
Due: ./scripts/check-filenames.sh --files
