Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Apply suggestion from @gemini-code-assist[bot]
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

refactor(ui): remove raw daisyui btn classes in chunk-a callsites
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/plan_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs(migration): refresh dioxus debt snapshot head hash
  docs/design/dioxus-components-migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

refactor(ui): use stock dioxus button styling
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/app_navbar.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs(testing): standardize on just for test execution
  AGENTS.md
  crates/tasklens-ui/assets/tailwind.css
  docs/design/testing.md
  justfile
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

test(e2e): open task editor via title target on mobile
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/app_components/task_row.rs
Due: ./scripts/check-filenames.sh --files

test(e2e): stabilize sync server lifecycle with ephemeral ports
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore(skill): add dioxus migration slice planner guidance
  .agent/skills/dioxus-migration-slice-planner/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(skill): shorten migration slice skill name
  .agent/skills/dx-slice/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(types): align serde with autosurgeon Reconcile
  crates/tasklens-core/src/types/transient.rs
  crates/tasklens-core/tests/enum_serialization_parity.rs
Due: ./scripts/check-filenames.sh --files

docs: prefer merge workflow in AGENTS guidance
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: enforce branch and PR scope isolation
  AGENTS.md
  docs/guidance/code-review.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: branch new tasks from upstream base branch
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: add base branch divergence paranoia check
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

feat(ui): finish chunk-a de-daisy and codify style approval
  .agent/skills/dx-slice/SKILL.md
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/search_panel.rs
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.rs
  crates/tasklens-ui/src/app_components/task_input.rs
  crates/tasklens-ui/src/components/select/component.rs
  crates/tasklens-ui/src/components/select/mod.rs
  crates/tasklens-ui/src/views/do_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore(ui): commit generated tailwind.css output
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Stabilize sync e2e setup and improve sync diagnostics
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/sync.spec.ts
  crates/tasklens-ui/tests/e2e/utils/debug-utils.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.test.ts
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Rename renovate config to JSON5 and ignore mypy cache
  .prettierignore
  renovate.json5
Due: ./scripts/check-filenames.sh --files

Format sync-server helper for check-format
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

hooks: move full checks to pre-push and remove duplicate fmt gate
  .husky/pre-commit
  .husky/pre-push
  knip.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix .mypy_cache entry in .prettierignore
  .prettierignore
Due: ./scripts/check-filenames.sh --files

Update Biome schema to match version 2.3.14
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Improve e2e performance defaults and lazy web dist checks
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/smoke.spec.ts
  justfile
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Validate biome version across workspace, lockfile, and schema
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/commands/check_biome_schema.rs
Due: ./scripts/check-filenames.sh --files

Address code review feedback
  xtask/src/commands/check_biome_schema.rs
Due: ./scripts/check-filenames.sh --files

Gate destructive e2e hooks and add safe gh pr skill
  .agent/skills/gh-pr-safe/SKILL.md
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  justfile
Due: prettier --write, ./scripts/check-filenames.sh --files

Cleanup Dioxus Primitives version specification
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): include checkbox in dioxus vendor config
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files

chore(vendor): update Dioxus Components source to 7943bed2eb59ee43d713f935e0ba17989c02b992
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/checkbox/component.rs
  crates/tasklens-ui/src/dioxus_components/checkbox/mod.rs
  crates/tasklens-ui/src/dioxus_components/checkbox/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

feat(ui): complete checkbox vertical slice migration
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/views/task_page.rs
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

feat(e2e): add browser snapshot setup for faster tests
  .prettierignore
  crates/tasklens-ui/.gitignore
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/global.setup.ts
  crates/tasklens-ui/tests/e2e/specs/mobile-journeys.spec.ts
  crates/tasklens-ui/tests/e2e/specs/plan-management.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-moving.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-search.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

refactor(e2e): extract snapshotDir to shared module
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/global.setup.ts
  crates/tasklens-ui/tests/e2e/snapshot-paths.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

refactor(e2e): unify console logging into attachConsoleLogger
  crates/tasklens-ui/tests/e2e/fixtures.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

docs: add post-mortem for Playwright snapshot setup experiment
  docs/design/postmortem-playwright-snapshot-setup.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update dioxus-vendor-components.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
Due: ./scripts/check-filenames.sh --files
