Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Implement runtime credit aggregation and dispatch
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/tests/compliance.rs
  docs/design/algorithm.md
  packages/tasklens/specs/compliance/fixtures/credit-attribution-aggregation.feature.yaml
  packages/tasklens/specs/compliance/fixtures/credit-propagation.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: dfdfe23b61873a95b7274c416caed5b47698c206
  assets/tasklens-ui-dxh6e154228de832a2.js
  assets/tasklens-ui-dxh9e25af55f16d3685.js
  assets/tasklens-ui_bg-dxh355f4b3a9b86dae7.wasm
  assets/tasklens-ui_bg-dxh51bbc5696c11c0b1.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Optimize E2E tests: replace fixed pauses with observable waits
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore: update beads state
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore: fix formatting
  .beads/issues.jsonl
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix dark mode visibility for Work header and Refresh button
  .beads/issues.jsonl
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/page_header.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: fe10da0302d7f4e03c80a275a64a6d6c03571e5c
  assets/tailwind-dxh5cefae3779a10f3.css
  assets/tailwind-dxh8877c7977ef5a8d.css
  assets/tasklens-ui-dxhcd2b87adfbf4c08c.js
  assets/tasklens-ui_bg-dxh355f4b3a9b86dae7.wasm
  assets/tasklens-ui_bg-dxh50acac4f1e465253.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

chore: sync beads
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Retire hydrate_optional helpers in favor of generic option hydrator
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Consolidate String/Text handling and standardize enum reconciliation
  .beads/issues.jsonl
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Close mydoo-3o8.4
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Document and standardize numeric hydration helpers
  .beads/issues.jsonl
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Apply MaybeMissing reconciliation pattern to optional fields
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Close mydoo-3o8 epic (all subtasks complete)
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: 8884d6eb7a02ccaca29de289f6049f4989aba693
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update beads issues
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: 774e25c28b2876c22a4eac499dc9a3b653c9b2ac
  assets/tasklens-ui-dxhcd2b87adfbf4c08c.js
  assets/tasklens-ui-dxhdeaa2226f45b461.js
  assets/tasklens-ui_bg-dxh50acac4f1e465253.wasm
  assets/tasklens-ui_bg-dxh8e9f317249ede2e.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Integrate beads git hooks into Husky configuration
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: ./scripts/check-filenames.sh --files

Git ignore .beads/export-state
  .beads/.gitignore
Due: ./scripts/check-filenames.sh --files

deploy: d381906b2154d19c8a314cb6f04b1f4c3659a17b
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Integrate beads git hooks with standardized thin shim pattern
  .beads/config.yaml
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: ed9491edb718852355c32140aad6ca1d6c2ec96f
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove .turbo from .gitignore
  .gitignore
Due: ./scripts/check-filenames.sh --files

Move compliance fixtures closer to use
  .beads/issues.jsonl
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/balancing.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/boost-importance.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/boost-lead-time.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/completion-acknowledgement.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/complex-mutation.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/credit-attribution-aggregation.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/credit-attribution.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/decay.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/deletion.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/due_dates.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/inheritance-credits.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/inheritance-importance.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/inheritance-place.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/inheritance-schedule.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/lead-time-edge-cases.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/lead-time-inheritance.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/lead-time.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/min-threshold.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/repro-stale-leadtime.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/root-importance.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/sequential-flow.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/sorting-importance-tiebreaker.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/sorting.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/thermostat.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/tree-order-id-conflict.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/tree-order.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/visibility-place-filtering.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/weight.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/zero-feedback.feature.yaml
  crates/tasklens-core/tests/compliance/schemas/feature.schema.json
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

deploy: bc23b21f120d2fed04fb4784a45b8f0565ea347f
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Compress AGENTS.md, removing low value and redundant content
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 0658ccca24f97612fb59f53612b253ee854eec3f
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add BalanceData projection and use_balance_data hook
  crates/tasklens-core/src/domain/balance.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_balance_data.rs
Due: ./scripts/check-filenames.sh --files

Close task for AGENTS.md compression
  .beads/config.yaml
  .beads/issues.jsonl
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 74532e7376561f2159a30bd6c8b14c216c943579
  assets/tasklens-ui-dxh11ce4b9eae198f72.js
  assets/tasklens-ui-dxhdeaa2226f45b461.js
  assets/tasklens-ui_bg-dxh26912741dfdf01a.wasm
  assets/tasklens-ui_bg-dxh8e9f317249ede2e.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: fc46df2cf619fcf248c9ab603f3731e5d45094c6
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Save the beads
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Fix project visibility bug for done tasks
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/container-visibility.feature.yaml
  crates/tasklens-core/tests/compliance/fixtures/sequential-flow.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 7ccef429ac353a47c07967ba5debb6ea21408348
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Stop using sync branch
  .beads/config.yaml
  .beads/issues.jsonl
  .husky/pre-commit
Due: prettier --write, ./scripts/check-filenames.sh --files

Beads issues
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
