Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

docs(skills): add examples for closing and updating beads
  .agent/skills/beads/SKILL.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Switch to JamesIves GH Pages deploy action
  .github/workflows/deploy.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Consolidate use_persistence async tasks into a single loop
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Exactly follow review suggestion for use_persistence consolidation
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Fix persistence hook for document switching
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Add documentation for use_persistence hook
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

refactor(use_persistence): replace polling with reactive effect
  Cargo.lock
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

Refactor use_persistence to use reactive signals and ReadSignal
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

Document persistence hook synchronization logic
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
Due: ./scripts/check-filenames.sh --files

Implement balance feedback aggregation
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/balance-aggregation.feature.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

docs: clarify PlaceID and CreditIncrement are not runtime-inherited
  docs/design/algorithm.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix: add EXIT trap to git hooks to warn against --no-verify
  .husky/commit-msg
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Update docs/design/algorithm.md
  docs/design/algorithm.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add score trace breakdown for Do view
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/hooks/mod.rs
  crates/tasklens-ui/src/hooks/use_score_trace.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/score-trace.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Explicitly control Dioxus toast visibility
  crates/tasklens-ui/index.html
Due: ./scripts/check-filenames.sh --files

Optimize toast element lookups in index.html
  crates/tasklens-ui/index.html
Due: ./scripts/check-filenames.sh --files

refactor: extract feedback into pure functions
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refactor domain logic for idiomatic iterator use
  crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/priority.rs
Due: ./scripts/check-filenames.sh --files

Add xtask skeleton
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Port catalog checker to Rust xtask
  Cargo.lock
  justfile
  knip.json
  scripts/check-unused-catalog-entries.ts
  xtask/Cargo.toml
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Port filename linting to Rust xtask
  .ls-lint.toml
  .ls-lint.yml
  Cargo.lock
  justfile
  knip.json
  pnpm-workspace.yaml
  scripts/lint-filenames.test.ts
  scripts/lint-filenames.ts
  scripts/package.json
  xtask/Cargo.toml
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Split xtask functionality into separate modules
  Cargo.toml
  xtask/src/commands/check_catalog.rs
  xtask/src/commands/lint_filenames.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Port context linter to xtask
  justfile
  knip.json
  scripts/lint-context.ts
  xtask/src/commands/lint_context.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Port biome schema check to xtask
  justfile
  scripts/check-biome-schema.ts
  scripts/package.json
  xtask/src/commands/check_biome_schema.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Port dark mode linter to xtask
  justfile
  package.json
  pnpm-workspace.yaml
  scripts/lint-dark-mode.ts
  scripts/package.json
  xtask/src/commands/lint_dark_mode.rs
  xtask/src/commands/lint_filenames.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Rename xtask commands to use check- prefix consistently
  justfile
  xtask/src/commands/check_context.rs
  xtask/src/commands/check_dark_mode.rs
  xtask/src/commands/check_filenames.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Consolidate xtask checks in justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Consolidate js-yaml dependencies in workspace catalog
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Update xtask/src/commands/check_context.rs
  xtask/src/commands/check_context.rs
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-core/src/domain/feedback.rs
  crates/tasklens-core/src/domain/feedback.rs
Due: ./scripts/check-filenames.sh --files

fix: improve E2E readiness check with data-app-state attr
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

fix: render LoadErrorView at App level for error state
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:24:01
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:25:14
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:25:33
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:26:06
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:27:12
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:27:53
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-07 17:28:09
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files
