Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

deploy: 4e94ce15183f0165abcd16305731c9c619b0cb9e
  assets/tasklens-ui-dxh22518b7b4c431b67.js
  assets/tasklens-ui-dxhda174218feefe190.js
  assets/tasklens-ui_bg-dxh2bf6f91ff985a125.wasm
  assets/tasklens-ui_bg-dxh4f33e96c38bcd8ba.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Repair task tree healing and stateful fuzzing
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter/tests/adapter_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_merge_fuzz.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Improve task tree healing and ID stability
  crates/tasklens-core/src/types.rs
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/benches/import_benchmark.rs
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/tests/cross_compat_fuzz.rs
  crates/tasklens-store/tests/data/golden.automerge
  crates/tasklens-store/tests/golden_reconciliation.rs
  crates/tasklens-store/tests/load_backup.rs
  crates/tasklens-ui/tests/e2e/specs/import-golden.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: f4384a937dca8b9e344c98e9982a3b61fe8e6680
  assets/tasklens-ui-dxh6315d88f63fcf053.js
  assets/tasklens-ui_bg-dxh2bf6f91ff985a125.wasm
  assets/tasklens-ui_bg-dxh81284518f063ba4c.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: 4d4ebf0d67ffbcaea08a912b64a9f4ef6ece96c3
  assets/tasklens-ui-dxh6315d88f63fcf053.js
  assets/tasklens-ui-dxh7c8d329330239d71.js
  assets/tasklens-ui_bg-dxh81284518f063ba4c.wasm
  assets/tasklens-ui_bg-dxhd04e3fe950e22783.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Improve UX
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/page_header.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

Refactor document management logic into a dedicated controller and fix unused mut warnings in AppNavBar
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/controllers/doc_controller.rs
  crates/tasklens-ui/src/controllers/mod.rs
Due: ./scripts/check-filenames.sh --files

Fix the build
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

Refactor TunnelState hydration to use context and show metadata ID
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
Due: ./scripts/check-filenames.sh --files

Fix panic by moving hook call to top level in DocIdManager
  crates/tasklens-ui/src/components/doc_id_manager.rs
Due: ./scripts/check-filenames.sh --files

deploy: 49e941f88c1800aa3b91768ce2fa56305d80ff8a
  assets/tailwind-dxh3a5849a6f1486d46.css
  assets/tailwind-dxh918835a8a21fe625.css
  assets/tasklens-ui-dxh7c8d329330239d71.js
  assets/tasklens-ui-dxhee571bb3273d5233.js
  assets/tasklens-ui_bg-dxha7d7fd77f9849484.wasm
  assets/tasklens-ui_bg-dxhd04e3fe950e22783.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Refact use_tunnel_state import
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/doc_id_manager.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

deploy: 031360222bca97e5fccad3cdd17b6b229cb66e68
  assets/tailwind-dxh917a2ad5f3b16cce.css
  assets/tailwind-dxh918835a8a21fe625.css
  assets/tasklens-ui-dxh5c137c9cfef7991e.js
  assets/tasklens-ui-dxhee571bb3273d5233.js
  assets/tasklens-ui_bg-dxha7d7fd77f9849484.wasm
  assets/tasklens-ui_bg-dxhb3e4d9704917c11f.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Implement manual storage injection and Copy IDs
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/controllers/doc_controller.rs
  crates/tasklens-ui/src/main.rs
Due: ./scripts/check-filenames.sh --files

deploy: 0aab30632d6f5f01e13321e5f638bfc5e82a92f3
  assets/tasklens-ui-dxh5c137c9cfef7991e.js
  assets/tasklens-ui-dxhe942e85b97beabfe.js
  assets/tasklens-ui_bg-dxhb3e4d9704917c11f.wasm
  assets/tasklens-ui_bg-dxhb63569f490a328e.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Replace derived-state.md with Dioxus guide
  docs/guidance/derived-state.md
  docs/guidance/dioxus-state.md
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 7873c3a31ae27c2816891ac050e7472399249065
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix CI by restoring necessary catalog entries
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix broken symlink in conductor
  conductor/code_styleguides/derived-state.md
  conductor/code_styleguides/dioxus-state.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Tweak docs for correctness
  docs/guidance/dioxus-state.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan the playwright-bdd deprecation
  docs/guidance/bdd-code-first-gherkin.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Convert binary-import-export
  crates/tasklens-ui/tests/e2e/features/binary-import-export.feature
  crates/tasklens-ui/tests/e2e/specs/binary-import-export.spec.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  docs/guidance/bdd-code-first-gherkin.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

deploy: 0b591e43449fe43e97e3f4e779c2297353b6014d
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove packages from workspace configuration
  pnpm-workspace.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark workspace removal task as complete
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Remove tasklens reference from tasklens-ui
  crates/tasklens-ui/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Mark tsconfig reference removal as complete
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update CI to use tasklens-ui package
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Migrate a bunch more
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/tests/e2e/features/document-switching.feature
  crates/tasklens-ui/tests/e2e/features/smoke.feature
  crates/tasklens-ui/tests/e2e/features/task-creation.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/document-switching.spec.ts
  crates/tasklens-ui/tests/e2e/specs/smoke.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-creation.spec.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/steps/smoke.steps.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  docs/guidance/bdd-code-first-gherkin.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

deploy: 39093ddd8c7bbd2c8dd51b384c3f40ba0dec708b
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: cb273b7869dfeeba4f9931c72dce858dbaeb9888
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: 31c0fb65ed854395fa817570ac5284eb7edac315
  assets/tasklens-ui-dxh7c7383cb9d1e.js
  assets/tasklens-ui_bg-dxhb63569f490a328e.wasm
  assets/tasklens-ui_bg-dxhf0c21be415e7e69a.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Migrate everything
  crates/tasklens-ui/tests/e2e/features/due-dates.feature
  crates/tasklens-ui/tests/e2e/features/mobile-journeys.feature
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/features/routine-tasks.feature
  crates/tasklens-ui/tests/e2e/features/sequential-projects.feature
  crates/tasklens-ui/tests/e2e/features/task-lifecycle.feature
  crates/tasklens-ui/tests/e2e/features/task-moving.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/due-dates.spec.ts
  crates/tasklens-ui/tests/e2e/specs/mobile-journeys.spec.ts
  crates/tasklens-ui/tests/e2e/specs/plan-management.spec.ts
  crates/tasklens-ui/tests/e2e/specs/routine-tasks.spec.ts
  crates/tasklens-ui/tests/e2e/specs/sequential-projects.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-lifecycle.spec.ts
  crates/tasklens-ui/tests/e2e/specs/task-moving.spec.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  docs/guidance/bdd-code-first-gherkin.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Swap some thingamabobs
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/tests/e2e/steps/steps-library.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove playwright-bdd and adopt code-first gherkin
  AGENTS.md
  GEMINI.md
  biome.json
  conductor/product-guidelines.md
  conductor/tech-stack.md
  crates/tasklens-ui/package.json
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/tests/e2e/README.md
  crates/tasklens-ui/tests/e2e/fixtures.ts
  docs/guidance/bdd-code-first-gherkin.md
  docs/guidance/bdd.md
  docs/guidance/task-naming.md
  docs/plan/rust_migration.md
  eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/smart-clean.ts
  specs/002-mobile-desktop-bdd/plan.md
  specs/002-mobile-desktop-bdd/research.md
  specs/002-mobile-desktop-bdd/tasks.md
  turbo-exclusions.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Mark dependency and turbo cleanup as complete
  conductor/tracks/delete_legacy_tasklens_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Inline UrgencyStatus in e2e tests
  crates/tasklens-ui/package.json
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
