Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Add bin-crate pub visibility check and tighten tasklens-ui APIs
  Cargo.lock
  crates/tasklens-ui/src/app_components/layout/page.rs
  crates/tasklens-ui/src/app_components/load_error_view.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/src/views/settings_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  xtask/Cargo.toml
  xtask/src/commands/check_bin_pub_visibility.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Add dead-component lint suppressions and remove dead views
  crates/tasklens-ui/src/app_components/date_time_inputs/components.rs
  crates/tasklens-ui/src/views/auth.css
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/mod.rs
  xtask/config/dead-components.toml
  xtask/src/commands/check_dead_components.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Delete a plan doc
  BIN_CRATE_PUB_VISIBILITY_PLAN.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Wire dead-component lint into check-all and remove dead TaskPage path
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/task_page.css
  crates/tasklens-ui/src/views/task_page.rs
  xtask/src/commands/check_dead_components.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Skip target artifacts in bin pub visibility scan
  xtask/src/commands/check_bin_pub_visibility.rs
Due: ./scripts/check-filenames.sh --files

refactor: migrate ScoreTracePage to use Stack primitive
  STACK_COMPONENT_PLAN.md
  crates/tasklens-ui/src/views/score_trace_page.css
  crates/tasklens-ui/src/views/score_trace_page.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor: migrate BalancePage to Stack component
  STACK_COMPONENT_PLAN.md
  crates/tasklens-ui/src/views/balance_page.css
  crates/tasklens-ui/src/views/balance_page.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

refactor: migrate legacy app_stack utilities to Stack component
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Plan more Stack conversions
  STACK_COMPONENT_PLAN.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Migrate form and settings layouts to Stack
  STACK_COMPONENT_PLAN.md
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/sync_indicator.css
  crates/tasklens-ui/src/app_components/sync_indicator.rs
  crates/tasklens-ui/src/app_components/task_editor.css
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Finalize Stack migration: complete MovePicker & finish plan
  STACK_COMPONENT_PLAN.md
  crates/tasklens-ui/src/app_components/move_picker.css
  crates/tasklens-ui/src/app_components/move_picker.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Remove completed Stack component implementation plan
  STACK_COMPONENT_PLAN.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan the Row layout conversion more
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan the Row layout component
  docs/guidance/css.md
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: add Row layout primitive and migrate one DocIdManager row
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/layout/mod.rs
  crates/tasklens-ui/src/app_components/layout/row.css
  crates/tasklens-ui/src/app_components/layout/row.rs
  crates/tasklens-ui/src/app_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

ui: migrate remaining doc id manager row to Row
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate navbar action cluster to Row
  crates/tasklens-ui/src/app_components/app_navbar.css
  crates/tasklens-ui/src/app_components/app_navbar.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

ui: migrate search panel header row to Row
  crates/tasklens-ui/src/app_components/search_panel.css
  crates/tasklens-ui/src/app_components/search_panel.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

chore: configure project to use cargo-nextest
  .github/workflows/ci.yml
  docs/design/testing.md
  justfile
  scripts/check-rust.sh
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: migrate one task editor row cluster to Row
  crates/tasklens-ui/src/app_components/task_editor.rs
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: migrate lead-time row cluster to Row
  crates/tasklens-ui/src/app_components/task_editor.rs
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: migrate priority row and remove app_row_cluster utility
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/priority_task_row.css
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate task row root wrapper to Row
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/app_components/task_row.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate task row actions cluster to Row
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/app_components/task_row.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs: mark Row guidance complete and sync plan tracker
  docs/guidance/css.md
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

ui: rely on Row gap for priority badge spacing
  crates/tasklens-ui/src/app_components/priority_task_row.css
  crates/tasklens-ui/src/app_components/priority_task_row.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate page header actions cluster to Row
  crates/tasklens-ui/src/app_components/page_header.css
  crates/tasklens-ui/src/app_components/page_header.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate app panel header actions to Row
  crates/tasklens-ui/src/app_components/app_panel.css
  crates/tasklens-ui/src/app_components/app_panel.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate task input row to Row
  crates/tasklens-ui/src/app_components/task_input.css
  crates/tasklens-ui/src/app_components/task_input.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: remove manual due-date margin in task row
  crates/tasklens-ui/src/app_components/task_row.css
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: migrate doc id copy feedback row to Row
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: add Row justify support and migrate remaining header/footer rows
  crates/tasklens-ui/src/app_components/layout/mod.rs
  crates/tasklens-ui/src/app_components/layout/row.css
  crates/tasklens-ui/src/app_components/layout/row.rs
  crates/tasklens-ui/src/app_components/mod.rs
  crates/tasklens-ui/src/app_components/move_picker.css
  crates/tasklens-ui/src/app_components/move_picker.rs
  crates/tasklens-ui/src/app_components/page_header.css
  crates/tasklens-ui/src/app_components/page_header.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

ui: add Row wrap support and migrate wrapped doc id actions
  crates/tasklens-ui/src/app_components/doc_id_manager.css
  crates/tasklens-ui/src/app_components/doc_id_manager.rs
  crates/tasklens-ui/src/app_components/layout/mod.rs
  crates/tasklens-ui/src/app_components/layout/row.css
  crates/tasklens-ui/src/app_components/layout/row.rs
  crates/tasklens-ui/src/app_components/mod.rs
  implementation_plan.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs: mark Row follow-up migration loop complete
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: add layout abstraction breadcrumbs and remove implementation plan
  docs/guidance/css.md
  implementation_plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
