Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Fix dark mode themeing by removing hardcoded backgrounds
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/loading.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/score_trace_page.rs
  crates/tasklens-ui/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Fix IndexedDB connection leak in WASM storage adapter
  crates/tasklens-store/src/samod_storage.rs
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 21:35:39
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 21:43:07
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 21:43:19
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 21:43:31
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-08 21:59:37
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Implement sync reconnection with backoff and visibility tracking
  crates/tasklens-store/src/sync.rs
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/sync-reconnect.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

refactor: improve sync visibility tracking robustness and readability
  crates/tasklens-ui/src/hooks/use_sync.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-09 07:41:49
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-09 07:52:15
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

feat: add inline search panel to find tasks by title
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/search_panel.rs
Due: ./scripts/check-filenames.sh --files

test: add E2E specs for task search panel
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/task-search.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

fix: focus search input when panel opens
  crates/tasklens-ui/src/components/search_panel.rs
Due: ./scripts/check-filenames.sh --files

fix: log focus errors instead of silently ignoring
  crates/tasklens-ui/src/components/search_panel.rs
Due: ./scripts/check-filenames.sh --files

fix: delay search input focus with rAF so element is visible
  crates/tasklens-ui/src/components/search_panel.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/specs/task-search.spec.ts
  crates/tasklens-ui/tests/e2e/steps/steps-library.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

docs: replace jargon in search focus comments
  crates/tasklens-ui/src/components/search_panel.rs
Due: ./scripts/check-filenames.sh --files

Improve search panel and keyboard shortcut handling
  .agents/skills
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/search_panel.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Remove redundant easing variables
  crates/tasklens-ui/assets/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add Dioxus components migration design doc and checklist
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix search panel Escape key behavior and improve E2E test robustness
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/tests/e2e/specs/task-search.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Relax AGENTS.md verification requirements
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: update dioxus vendoring recommendation for dx install processing
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: require dioxus_components vendoring path and refine bd policy
  AGENTS.md
  docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

feat(xtask): add update-dioxus-components vendor sync workflow
  Cargo.lock
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  xtask/Cargo.toml
  xtask/src/commands/mod.rs
  xtask/src/commands/update_dioxus_components.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

fix(xtask): parse dioxus-primitives lockfile source with rev query
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(dioxus): vendor components @ 7943bed2eb59ee43d713f935e0ba17989c02b992
  Cargo.lock
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/dioxus-vendor-components.toml
  crates/tasklens-ui/src/dioxus_components/button/component.rs
  crates/tasklens-ui/src/dioxus_components/button/mod.rs
  crates/tasklens-ui/src/dioxus_components/button/style.css
  crates/tasklens-ui/src/dioxus_components/mod.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

fix(xtask): re-pin dioxus-primitives after dx vendoring
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(dioxus): vendor components @ 7943bed2eb59ee43d713f935e0ba17989c02b992
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

fix(xtask): always snapshot Cargo.lock during vendor sync
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

chore(dioxus): vendor components @ 7943bed2eb59ee43d713f935e0ba17989c02b992
  Cargo.lock
Due: ./scripts/check-filenames.sh --files

fix(xtask): avoid cargo pin formatting churn when already pinned
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

Update docs/design/dioxus-components-migration.md
  docs/design/dioxus-components-migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update docs/design/dioxus-components-migration.todo.md
  docs/design/dioxus-components-migration.todo.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(xtask): canonicalize dioxus-primitives inline table pin
  xtask/src/commands/update_dioxus_components.rs
Due: ./scripts/check-filenames.sh --files

feat(xtask): enforce dioxus lock pin check and drop vendor lockfile sync
  crates/tasklens-ui/src/dioxus_components/button/style.css
  xtask/src/commands/check_dioxus_lock_pin.rs
  xtask/src/commands/mod.rs
  xtask/src/commands/update_dioxus_components.rs
  xtask/src/main.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
