Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

docs: clarify docs-only quality gate exceptions
  AGENTS.md
  docs/design/testing.md
Due: prettier --write, ./scripts/check-filenames.sh --files

fix(ui): resolve slider freeze loop and add retroactive TDD tests
  crates/tasklens-core/src/domain/balance_distribution.rs
  crates/tasklens-core/src/types/persistent.rs
  crates/tasklens-ui/src/app_components/balance_slider.rs
  crates/tasklens-ui/src/hooks/use_balance_interaction.rs
  crates/tasklens-ui/src/views/balance_page.rs
Due: ./scripts/check-filenames.sh --files

fix(ui): move Playwright WEB_DIST_DIR validation to shell
  crates/tasklens-ui/playwright.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

fix(ui): gate DioxusRuntime and tighten WASM validation
  crates/tasklens-ui/src/utils/dioxus_runtime.rs
  justfile
Due: ./scripts/check-filenames.sh --files

docs: add note about getrandom version pinning
  docs/design/getrandom-version-pinning.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update crates/tasklens-store/src/doc_id.rs
  crates/tasklens-store/src/doc_id.rs
Due: ./scripts/check-filenames.sh --files

Update docs/design/getrandom-version-pinning.md
  docs/design/getrandom-version-pinning.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add a list of optimizations
  docs/optimizations.md
Due: prettier --write, ./scripts/check-filenames.sh --files

build(deps): upgrade getrandom to 0.4.1
  Cargo.lock
  Cargo.toml
  crates/tasklens-core/Cargo.toml
  docs/design/getrandom-version-pinning.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: remove prescriptive branch naming convention
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Apply suggestions from code review
  Cargo.toml
  docs/design/getrandom-version-pinning.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add xtask check-rust-line-count to enforce file size limits
  .rust-line-count-exceptions.toml
  xtask/src/commands/check_rust_line_count.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

Apply suggestions from code review
  crates/tasklens-ui/src/app_components/task_row.rs
Due: ./scripts/check-filenames.sh --files

test(xtask): add tests for rust-line-count git interactions
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/commands/check_rust_line_count.rs
Due: ./scripts/check-filenames.sh --files

feat(xtask): migrate rust-line-count to rust-token-count using lexer
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/commands/check_rust_token_count.rs
  xtask/src/commands/mod.rs
  xtask/src/main.rs
Due: ./scripts/check-filenames.sh --files

refactor(xtask): improve token count and git error reporting
  xtask/src/commands/check_rust_token_count.rs
Due: ./scripts/check-filenames.sh --files

Apply suggestions from code review
  crates/tasklens-core/src/types/persistent.rs
Due: ./scripts/check-filenames.sh --files

fix: Replace Dioxus slider with a native input
  .pebble/AGENTS.md
  .pebble/config.toml
  crates/tasklens-ui/src/app_components/balance_slider.rs
  docs/pebble/report-upstream-dioxus-slider-stale-delta-drag-bug.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Partial prettier formatting
  docs/pebble/add-credit-attribution-to-adapter-handle_complete_task.md
  docs/pebble/add-explainability-for-do-list-task-ordering.md
  docs/pebble/app-does-not-reconnect-to-sync-server-after-disconnection.md
  docs/pebble/apply-maybemissing-reconciliation-pattern.md
  docs/pebble/co-review-cargo-semver-checks-ci-workflow-for-ideas.md
  docs/pebble/consider-automated-pr-workflow-for-clippy-fixes.md
  docs/pebble/consider-using-actionlint-for-github-actions-linting.md
  docs/pebble/consolidate-naming-to-option-for-hydrate-reconcile-helpers.md
  docs/pebble/consolidate-string-text-handling.md
  docs/pebble/contemplate-feature-finding-stuck-projects.md
  docs/pebble/convert-compliance-given-mutations-to-action-dispatches.md
  docs/pebble/convert-compliance-when-mutations-to-action-dispatches.md
  docs/pebble/create-compliance-harness-appstore-infrastructure.md
  docs/pebble/design-handle-ambiguous-ready-tasks-with-completed-children.md
  docs/pebble/document-and-standardize-numeric-hydration.md
  docs/pebble/enable-aggregation-dependent-compliance-fixtures.md
  docs/pebble/evaluate-cargo-update-workflow-from-cargo-semver-checks-for-rust-dependency-upda.md
  docs/pebble/implement-docindex-shallow-parse-type.md
  docs/pebble/implement-effective_credits-aggregation-in-priority-rs.md
  docs/pebble/implement-place-management-ui.md
  docs/pebble/investigate-routinely-tasks-display-is-confusing-in-plan-view.md
  docs/pebble/manual-tunnelstate-hydration-module.md
  docs/pebble/partition-formatting-tasks-to-be-disjoint-between-biome-and-prettier.md
  docs/pebble/place-integration-task-editor-context-filter.md
  docs/pebble/refactor-dispatch-rs-to-full-persistedtask-r-m-w-pattern.md
  docs/pebble/refactor-get_prioritized_tasks-api-to-separate-schedule-inheritance-from-filteri.md
  docs/pebble/refactor-types-rs-separate-persistent-domain-types-from-transient-ui-utility-typ.md
  docs/pebble/retire-hydrate_optional-helpers.md
  docs/pebble/routinely-child-tasks-should-prevent-parent-from-appearing-in-do-list.md
  docs/pebble/snooze-tasks-to-temporarily-hide-from-do-list.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Replace Beads issue tracker with Pebble task tracker
  .agent/skills/beads/SKILL.md
  .agent/skills/pebble/SKILL.md
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitattributes
  .github/workflows/auto-close-bad-source-prs.yml
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  justfile
  knip.json
  xtask/src/commands/check_filenames.rs
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

migrate biome.json to 2.4.1
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

fix(a11y): add lang attribute and SVG accessibility to index.html
  crates/tasklens-ui/index.html
Due: ./scripts/check-filenames.sh --files

Apply suggestions from code review
  .agent/skills/pebble/SKILL.md
  docs/pebble/add-complete_task-mutation-to-compliance-test-harness.md
  docs/pebble/epoch-fully-switch-to-beads-for-task-tracking.md
Due: prettier --write, ./scripts/check-filenames.sh --files

ci: Install pebble in GitHub Actions workflow
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

chore: Update Biome schema version from 2.4.1 to 2.4.4
  biome.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Apply suggestions from code review
  crates/tasklens-core/src/domain/dates.rs
Due: ./scripts/check-filenames.sh --files

Apply suggestions from code review
  crates/tasklens-ui/src/app_components/task_editor.rs
Due: ./scripts/check-filenames.sh --files

update the dioxus-primitives dependency
  crates/tasklens-ui/Cargo.toml
Due: ./scripts/check-filenames.sh --files

refactor: Replace native HTML range input with Dioxus Slider component
  crates/tasklens-ui/src/app_components/balance_slider.rs
Due: ./scripts/check-filenames.sh --files

Simplify code a bit
  crates/tasklens-ui/src/app_components/balance_slider.rs
Due: ./scripts/check-filenames.sh --files

docs: Mark Dioxus slider bug report as done
  docs/pebble/report-upstream-dioxus-slider-stale-delta-drag-bug.md
Due: prettier --write, ./scripts/check-filenames.sh --files

docs: prioritize pebble tasks
  docs/pebble/accessibility-audit-keyboard-navigation.md
  docs/pebble/add-clean-sweep-feature-to-archive-or-delete-completed-tasks.md
  docs/pebble/add-compliance-fixture-for-mixed-schedules-and-completed-siblings.md
  docs/pebble/add-e2e-test-enforcing-label-for-wiring.md
  docs/pebble/add-explainability-for-do-list-task-ordering.md
  docs/pebble/add-invariant-assertions-to-compliance-tests.md
  docs/pebble/add-scoped-accessibility-snapshot-helper.md
  docs/pebble/add-stream-ordering-init-test-for-persistence-hooks.md
  docs/pebble/add-warning-logs-for-unexpected-missing-data.md
  docs/pebble/address-gemini-code-review-comments-for-pr-212.md
  docs/pebble/balance-view-optimization-cleanup.md
  docs/pebble/benchmark-reactive-streams-vs-polling-for-persistence.md
  docs/pebble/cleanup-samod-migration-code.md
  docs/pebble/co-review-cargo-semver-checks-ci-workflow-for-ideas.md
  docs/pebble/consider-automated-pr-workflow-for-clippy-fixes.md
  docs/pebble/consider-using-actionlint-for-github-actions-linting.md
  docs/pebble/contemplate-feature-finding-stuck-projects.md
  docs/pebble/convert-the-ui-to-use-dioxus-components.md
  docs/pebble/define-dialog-accessibility-checklist-for-dioxus-ui.md
  docs/pebble/evaluate-cargo-update-workflow-from-cargo-semver-checks-for-rust-dependency-upda.md
  docs/pebble/fix-inconsistent-enum-serialization-in-transient-rs.md
  docs/pebble/improve-cycle-healing-to-preserve-parent-hierarchy-instead-of-promoting-to-root.md
  docs/pebble/improve-e2e-test-seeding-reliability.md
  docs/pebble/make-playwright-verification-easier-for-bots.md
  docs/pebble/optimize-repeat-config-event-handlers.md
  docs/pebble/phase-7-balance-view-refinement.md
  docs/pebble/refactor-balanceviewcontainer-logic-extract-drain-fill.md
  docs/pebble/refactor-get_prioritized_tasks-api-to-separate-schedule-inheritance-from-filteri.md
  docs/pebble/replace-priorityoptions-include_hidden-bool-with-descriptive-enum.md
  docs/pebble/simplify-swiss-cheese-cfg-logic-in-use_sync-hook.md
  docs/pebble/snooze-tasks-to-temporarily-hide-from-do-list.md
  docs/pebble/standardize-playwright-failure-attachment-naming.md
  docs/pebble/track-agents-md-adoption-for-dioxus-apis-based-on-vercel-evals.md
  docs/pebble/urgency-badges-lack-right-side-spacing-before-task-title.md
  docs/pebble/use-dioxus-primitives-badge-component-for-due-date-display-and-urgency-indicator.md
  docs/pebble/verify-samod-sync-persistence.md
Due: prettier --write, ./scripts/check-filenames.sh --files

chore: retire dx-slice skill and migration meta reference
  .agent/skills/dx-slice/SKILL.md
  docs/pebble/convert-the-ui-to-use-dioxus-components.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add a CSS style guide and refine vendored component policy
  docs/design/dioxus-vendored-components-design.md
  docs/guidance/css.md
  docs/guidance/dioxus-vendored-customization.md
  docs/guidance/dioxus-vendored-styling.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Refine TaskRow layout
  crates/tasklens-ui/assets/app.css
  crates/tasklens-ui/src/app_components/task_row.css
  crates/tasklens-ui/src/app_components/task_row.rs
  crates/tasklens-ui/src/dioxus_components/button/component.rs
  crates/tasklens-ui/src/dioxus_components/button/style.css
  crates/tasklens-ui/src/views/plan_page.css
  crates/tasklens-ui/src/views/plan_page.rs
  docs/pebble/fix-plan-view-layout-expand-button-overlap-and-checkbox-spacing.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

docs: Update UI style guide
  crates/tasklens-ui/.gemini/styleguide.md
Due: prettier --write, ./scripts/check-filenames.sh --files
