Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Refactor TaskController action dispatching
  crates/tasklens-ui/src/controllers/task_controller.rs
Due: ./scripts/check-filenames.sh --files

deploy: 7aec38b432da1cc66dd1ff8cca04488cd72b53d4
  assets/tasklens-ui-dxh87a8c1cea2b32db.js
  assets/tasklens-ui-dxhfb2e8f24b45be8b.js
  assets/tasklens-ui_bg-dxhf06752115eb0fb67.wasm
  assets/tasklens-ui_bg-dxhf9eb41b3a00558d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: ae94c4e183bce930e074c92812bcad7517c3939b
  assets/tasklens-ui-dxh433ee19fe984c362.js
  assets/tasklens-ui-dxhfb2e8f24b45be8b.js
  assets/tasklens-ui_bg-dxhf06752115eb0fb67.wasm
  assets/tasklens-ui_bg-dxhfbd9feb9f322ff7a.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Initialize beads and update session workflow
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Migrate project todos to beads tracker
  .beads/issues.jsonl
  AGENTS.md
  TODO.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Sync project plans and work items into beads
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Migrate MASTER_PLAN.md to beads and delete file
  .beads/issues.jsonl
  docs/plan/MASTER_PLAN.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Migrate Balance View tasks to beads
  .beads/issues.jsonl
  docs/plan/PHASE_7_BALANCE_VIEW.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Migrate and delete docs/plan/rust_migration.md
  .beads/issues.jsonl
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Migrate and delete docs/plan/state-primitives.md
  .beads/issues.jsonl
  AGENTS.md
  docs/design/architecture.md
  docs/plan/state-primitives.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Close stale task mydoo-5k3.7
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Migrate and delete docs/plan/samod-migration.md
  .beads/issues.jsonl
  docs/plan/samod-migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Close mydoo-0kq
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Remove ROLLING_CONTEXT.md and references
  .beads/issues.jsonl
  .gitignore
  AGENTS.md
  scripts/aggressive-git-clean.sh
  scripts/smart-clean.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Port smart-clean to Python
  knip.json
  package.json
  scripts/smart-clean.py
  scripts/smart-clean.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Close mydoo-ci8
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: de21f6dbc3a5a79b84323423d2f0ad1451060c68
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Add credit attribution fixtures and plan
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  packages/tasklens/specs/compliance/fixtures/credit-attribution-aggregation.feature.yaml.pending
  packages/tasklens/specs/compliance/fixtures/credit-attribution.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Move credit attribution to handle_complete_task
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_fuzz.txt
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Refactor compliance harness for Automerge
  .beads/issues.jsonl
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

deploy: 62001f40f9a60094e7713c4a448cf90d8e1b4571
  assets/tasklens-ui-dxhac4247756d7852ed.js
  assets/tasklens-ui_bg-dxh8ae355f4ff16fb54.wasm
  assets/tasklens-ui_bg-dxhfbd9feb9f322ff7a.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Lift Action and TaskUpdates to tasklens-core
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-store/src/store/tests_async.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
Due: ./scripts/check-filenames.sh --files

deploy: 31f0574b364a33d42a47f4dccd6cd8b6d707ce36
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Lift dispatch logic to tasklens-core
  .beads/issues.jsonl
  Cargo.lock
  crates/tasklens-core/Cargo.toml
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/store/tests.rs
Due: ./scripts/check-filenames.sh --files

Move action dispatch logic to tasklens-core
  crates/tasklens-store/src/adapter.rs
Due: ./scripts/check-filenames.sh --files

Implement recursive credit attribution
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/tests/compliance.rs
  packages/tasklens/specs/compliance/fixtures/credit-propagation.feature.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Close mydoo-38e.1.8
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/dispatch.rs
Due: ./scripts/check-filenames.sh --files

Convert compliance mutations to Actions
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-ui/src/components/task_editor.rs
Due: ./scripts/check-filenames.sh --files

Allow 72-character headers and conventional commits in commitlint
  .beads/issues.jsonl
  commitlint.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove git commit requirement from agent workflow
  .beads/issues.jsonl
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Close mydoo-7tj (git commit workflow modernization)
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Fix import ordering in compliance tests
  crates/tasklens-core/tests/compliance.rs
Due: ./scripts/check-filenames.sh --files

chore(tasks): Add Epoch 5 for PWA conversion
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

deploy: b15c48b1781d10f9ff8e5ad0e0da17867f8184ef
  assets/tasklens-ui-dxh6e154228de832a2.js
  assets/tasklens-ui-dxhac4247756d7852ed.js
  assets/tasklens-ui_bg-dxh51bbc5696c11c0b1.wasm
  assets/tasklens-ui_bg-dxh8ae355f4ff16fb54.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Sync with bd
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Unify TunnelState hydration and reconciliation
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/fixture_validation.rs
  crates/tasklens-core/tests/prop_serialization.rs
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests.rs
  crates/tasklens-ui/src/seed.rs
Due: ./scripts/check-filenames.sh --files

deploy: 4df169eea80b972b2d8bb8e44c02069c3dab3ecd
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-core/src/domain/doc_bridge.rs
Due: ./scripts/check-filenames.sh --files

Cleanup redundant reconciliation logic and add simplification roadmap
  .beads/issues.jsonl
  crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files
