Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

Milestone 2.2
  Cargo.lock
  crates/sync-protocol/Cargo.toml
  crates/sync-protocol/src/lib.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Speed up pnpm check-human
  apps/client/turbo.json
  turbo-exclusions.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Milestone 2.3
  Cargo.lock
  crates/sync-protocol/Cargo.toml
  crates/sync-protocol/src/lib.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Rename crates with tasklens prefix
  Cargo.lock
  Cargo.toml
  crates/tasklens-sync-protocol/Cargo.toml
  crates/tasklens-sync-protocol/src/lib.rs
  crates/tasklens-sync-server/Cargo.toml
  crates/tasklens-sync-server/src/db.rs
  crates/tasklens-sync-server/src/main.rs
  crates/tasklens-sync-server/tests/integration_test.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.4
  Cargo.lock
  Cargo.toml
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/storage.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/main.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.5
  Cargo.lock
  crates/tasklens-store/Cargo.toml
  crates/tasklens-store/src/crypto.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/network.rs
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.6
  .prettierignore
  AGENTS.md
  Cargo.lock
  Cargo.toml
  biome.json
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/favicon.ico
  crates/tasklens-ui/assets/header.svg
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/build.rs
  crates/tasklens-ui/public/icon-192.png
  crates/tasklens-ui/public/icon-512.png
  crates/tasklens-ui/public/manifest.json
  crates/tasklens-ui/public/pwa-glue.js
  crates/tasklens-ui/public/screenshot-desktop.png
  crates/tasklens-ui/public/screenshot-mobile.png
  crates/tasklens-ui/public/service-worker.js
  crates/tasklens-ui/public/version.js
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/back_button.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/loading.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tailwind.css
  docs/plan/rust_migration.md
  knip.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 2.7, 3.1
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.7
  crates/tasklens-ui/.gitignore
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/index.html
  crates/tasklens-ui/package.json
  crates/tasklens-ui/public/pwa-glue.js
  crates/tasklens-ui/public/service-worker.js
  crates/tasklens-ui/public/version.js
  crates/tasklens-ui/tailwind.css
  docs/plan/rust_migration.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 2.8
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 2.8
  crates/tasklens-ui/Dioxus.toml
  crates/tasklens-ui/package.json
  crates/tasklens-ui/playwright.config.ts
  crates/tasklens-ui/tests/e2e/features/document-switching.feature
  crates/tasklens-ui/tests/e2e/features/due-dates.feature
  crates/tasklens-ui/tests/e2e/features/routine-tasks.feature
  crates/tasklens-ui/tests/e2e/features/sequential-projects.feature
  crates/tasklens-ui/tests/e2e/features/smoke.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/utils/date-formatter.ts
  crates/tasklens-ui/tests/e2e/utils/duration-parser.ts
  crates/tasklens-ui/tsconfig.json
  docs/plan/rust_migration.md
  pnpm-lock.yaml
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Ignore Rust build outputs in tooling configs
  .gitignore
  .ls-lint.yml
  .prettierignore
  apps/client/turbo.json
  crates/tasklens-ui/public/version.js
  eslint.config.js
  knip.json
  turbo-exclusions.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Update CI branches, add dioxus and remove view
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete stray version.js file
  crates/tasklens-ui/public/version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Forbid commits of tempcontext files
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Migrate client E2E tests to BDD feature files
  apps/client/playwright.config.ts
  apps/client/tests/e2e/features/mobile-journeys.feature
  apps/client/tests/e2e/features/plan-management.feature
  apps/client/tests/e2e/features/task-creation.feature
  apps/client/tests/e2e/features/task-lifecycle.feature
  apps/client/tests/e2e/features/task-moving.feature
  apps/client/tests/e2e/full-journey.spec.ts
  apps/client/tests/e2e/interactions.spec.ts
  apps/client/tests/e2e/mobile-interactions.spec.ts
  apps/client/tests/e2e/move-picker.spec.ts
  apps/client/tests/e2e/pages/plan-page.ts
  apps/client/tests/e2e/plan.spec.ts
  apps/client/tests/e2e/regression-coverage.spec.ts
  apps/client/tests/e2e/steps/all.steps.ts
  apps/client/tests/e2e/task-completion.spec.ts
  apps/client/tests/e2e/task-defaults.spec.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Fix compilation errors in store and UI crates
  crates/tasklens-store/src/crypto.rs
  crates/tasklens-store/src/lib.rs
  crates/tasklens-store/src/network.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/package.json
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update CI to build and test Rust components
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Use cargo-binstall to speed up CI
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Sync dioxus-cli version with Cargo.toml
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Use cargo tree for robust version extraction
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Add build script to tasklens-ui
  crates/tasklens-ui/package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Git ignore .features-gen
  crates/tasklens-ui/.gitignore
Due: ./scripts/check-filenames.sh --files

Copy the newer features over
  crates/tasklens-ui/tests/e2e/features/mobile-journeys.feature
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/features/task-creation.feature
  crates/tasklens-ui/tests/e2e/features/task-lifecycle.feature
  crates/tasklens-ui/tests/e2e/features/task-moving.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  crates/tasklens-ui/tests/e2e/steps/all.steps.ts
  crates/tasklens-ui/tests/e2e/steps/smoke.steps.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Plan milestone 3.1
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Milestone 3.1 done
  Cargo.lock
  crates/tasklens-ui/Cargo.toml
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/navbar/component.rs
  crates/tasklens-ui/src/components/navbar/mod.rs
  crates/tasklens-ui/src/components/navbar/style.css
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/features/add-one-task.feature
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Diagnose issue with dx in ci
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix clippy warning
  crates/tasklens-ui/src/views/plan_page.rs
Due: ./scripts/check-filenames.sh --files

Fix plan view hydration and add task input
  biome.json
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/task_input.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Plan milestone 3.2
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement task mutation and align lead time
  crates/tasklens-core/src/domain/constants.rs
  crates/tasklens-core/src/domain/creation.rs
  crates/tasklens-core/src/domain/mod.rs
  crates/tasklens-core/src/domain/priority.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/lib.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/.prettierignore
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/controllers/mod.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/views/plan_page.rs
  docs/plan/rust_migration.md
  packages/tasklens/specs/compliance/fixtures/boost-lead-time.feature.yaml
  packages/tasklens/specs/compliance/fixtures/due_dates.feature.yaml
  packages/tasklens/specs/compliance/fixtures/inheritance-schedule.feature.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time-edge-cases.feature.yaml
  packages/tasklens/specs/compliance/fixtures/lead-time.feature.yaml
  packages/tasklens/specs/compliance/fixtures/sequential-flow.feature.yaml
  packages/tasklens/specs/compliance/fixtures/sorting-importance-tiebreaker.feature.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Add Rust validation tooling and project memories
  AGENTS.md
  crates/tasklens-ui/assets/tailwind.css
  package.json
  scripts/check-rust.sh
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Document Dioxus hydration and context timing
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add Playwright debug skill with auto-fixture
  .agent/skills/playwright-debug/SKILL.md
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/features/smoke.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/playwright.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Codify the Protocol of Strictness
  AGENTS.md
  docs/guidance/code-review.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Plan milestone 3.3
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Implement Do view and stabilize E2E suite
  AGENTS.md
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/mod.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/task_input.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/router.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/mod.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/tests/e2e/features/due-dates.feature
  crates/tasklens-ui/tests/e2e/features/plan-management.feature
  crates/tasklens-ui/tests/e2e/features/task-creation.feature
  crates/tasklens-ui/tests/e2e/fixtures.ts
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
  docs/plan/rust_migration.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,ts,tsx,jsx,json,css,cjs,mjs}
  eslint --fix: any of: *.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}
  prettier --write: any of: *.{md,yaml,yml}
  echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1: any of: ROLLING_CONTEXT.md
  ./scripts/check-filenames.sh --files: any of: *
