Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

Checkpoint end of Phase 4
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 4 as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Add final recipes to Justfile
  justfile
Due: ./scripts/check-filenames.sh --files

Complete Implement fix and verify recipes
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Redirect scripts to Just and update Knip config
  knip.json
  package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Complete redirection of scripts to Just
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Remove Turborepo and all related configuration
  .husky/pre-commit
  conductor/tracks/remove_turborepo_20260127/plan.md
  docs/design/turbo-switchboard-pattern.md
  justfile
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-turbo-inputs.ts
  scripts/package.json
  turbo-exclusions.json
  turbo.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

Complete removal of Turbo dependencies
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: 888b0a98215eb695bc48108b39b9f3ce4a48ea10
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Checkpoint end of Phase 5
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Phase 5 as complete
  conductor/tracks/remove_turborepo_20260127/plan.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Mark Turborepo removal track as complete
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Simplify Husky pre-commit hook
  .husky/pre-commit
Due: ./scripts/check-filenames.sh --files

Add workflow-switchboard-pattern.md
  docs/design/workflow-switchboard-pattern.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Synchronize docs for Turborepo removal track
  conductor/tech-stack.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete track 'Remove use of turborepo'
  conductor/tracks.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Final documentation cleanup after Turbo removal
  AGENTS.md
  conductor/tracks/remove_turborepo_20260127/index.md
  conductor/tracks/remove_turborepo_20260127/metadata.json
  conductor/tracks/remove_turborepo_20260127/plan.md
  conductor/tracks/remove_turborepo_20260127/spec.md
  conductor/tracks/remove_turborepo_20260127/task_mapping.md
  docs/design/testing.md
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Update documentation to use Just commands
  AGENTS.md
  crates/tasklens-ui/tests/e2e/README.md
  docs/design/testing.md
  docs/guidance/code-review.md
  docs/plan/rust_migration.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Restore original header in code-review.md
  docs/guidance/code-review.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Update formatting guidance to use just fix
  AGENTS.md
Due: prettier --write, ./scripts/check-filenames.sh --files

De-monolith fix-style and update package scripts
  justfile
  package.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Add task-mapping.md with Velocity First philosophy
  docs/design/task-mapping.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Delete task-mapping.md
  docs/design/task-mapping.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Run pnpm install to update the lockfile
  pnpm-lock.yaml
Due: prettier --write, ./scripts/check-filenames.sh --files

Refactor orchestration recipes to check and verify
  .github/workflows/ci.yml
  .husky/pre-commit
  AGENTS.md
  docs/design/workflow-switchboard-pattern.md
  docs/guidance/code-review.md
  docs/plan/rust_migration.md
  justfile
  package.json
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Optimize CI workflow by removing redundancies
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

Fix corruption in tech-stack.md
  conductor/tech-stack.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Align switchboard pattern docs with implementation
  docs/design/workflow-switchboard-pattern.md
Due: prettier --write, ./scripts/check-filenames.sh --files

Remove redundant Biome fix recipe
  justfile
Due: ./scripts/check-filenames.sh --files

Install system deps for desktop build in CI
  .github/workflows/ci.yml
Due: prettier --write, ./scripts/check-filenames.sh --files

deploy: e20f398e344b2ca6926d86cd100a5be0a9a765e5
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Remove eslint tooling and configuration
  conductor/tech-stack.md
  docs/design/architecture.md
  docs/design/workflow-switchboard-pattern.md
  docs/guidance/task-naming.md
  eslint.config.js
  justfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  specs/001-add-eslint-config/checklists/requirements.md
  specs/001-add-eslint-config/checklists/tooling.md
  specs/001-add-eslint-config/plan.md
  specs/001-add-eslint-config/research.md
  specs/001-add-eslint-config/spec.md
  specs/001-add-eslint-config/tasks.md
Due: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, ./scripts/check-filenames.sh --files

deploy: 0868fff0adaac988e637ce1a36451ec30132e6f0
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Clean up logging and fix build imports
  crates/tasklens-store/src/store.rs
  crates/tasklens-ui/src/controllers/doc_controller.rs
  crates/tasklens-ui/src/hooks/use_persistence.rs
  crates/tasklens-ui/src/hooks/use_sync.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/seed.rs
  justfile
Due: ./scripts/check-filenames.sh --files

Make Playwright console logging optional
  crates/tasklens-ui/tests/e2e/fixtures.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Isolate sync server temp dirs
  crates/tasklens-ui/.gitignore
  crates/tasklens-ui/tests/e2e/utils/sync-server.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Update gitignore
  crates/tasklens-ui/.gitignore
Due: ./scripts/check-filenames.sh --files

deploy: e8debc88807f3f4819dc96bd86e49d9cb93232bb
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

deploy: f505ad3412254a3a464bbed6bd364cd9d84e9eb5
  assets/tasklens-ui-dxh87a8c1cea2b32db.js
  assets/tasklens-ui-dxhe27a7f139e8c5120.js
  assets/tasklens-ui_bg-dxhb78a6b1089e77df.wasm
  assets/tasklens-ui_bg-dxhf9eb41b3a00558d.wasm
  index.html
  version.js
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Centralize state and introduce TaskController
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
  crates/tasklens-store/src/store.rs
  crates/tasklens-store/src/store/tests_async.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/controllers/task_controller.rs
  crates/tasklens-ui/src/hooks/use_tunnel_state.rs
  crates/tasklens-ui/src/main.rs
  crates/tasklens-ui/src/seed.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: ./scripts/check-filenames.sh --files
