Repository matta/mydoo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint --fix, prettier --write, echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1, ./scripts/check-filenames.sh --files

.lintstagedrc:

{
  "*.{js,ts,tsx,jsx,json,css,cjs,mjs}": ["biome check --write --no-errors-on-unmatched"],
  "*.{js,ts,tsx,jsx,cjs,mjs,config.js,config.ts}": ["eslint --fix"],
  "*.{md,yaml,yml}": ["prettier --write"],
  "ROLLING_CONTEXT.md": ["echo '‚ùå Error: ROLLING_CONTEXT.md is staged for commit.' && exit 1"],
  "*": ["./scripts/check-filenames.sh --files"]
}

fix(core): heal cycles created by concurrent moves
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

test(store): add proptest regression seeds for cycle detection
  crates/tasklens-store/proptest-regressions/adapter/tests/adapter_merge_fuzz.txt
Due: ./scripts/check-filenames.sh --files

Update crates/tasklens-core/src/types.rs
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

test(store): assert healing preserves task count
  crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: ./scripts/check-filenames.sh --files

Optimize cycle breaking in structural healing
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Separate Renovate updates by ecosystem
  renovate.json
  renovate.jsonc
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:26:09
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:26:12
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Apply code review suggestions for Renovate
  justfile
  renovate.jsonc
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:36:46
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:36:56
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:38:17
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:38:57
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:41:49
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 11:41:52
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 12:47:09
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Add unit tests for use_balance_data hook
  crates/tasklens-ui/src/hooks/use_balance_data.rs
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 12:54:07
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Configure rust-analyzer as formatter for Rust
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Allow Prettier to format VS Code settings
  .prettierignore
  .vscode/settings.json
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 13:18:19
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

Consolidate to 'option' for tasklens-core hydrate/reconcile helpers
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-core/src/types.rs
Due: ./scripts/check-filenames.sh --files

Refactor compliance tests and domain actions
  crates/tasklens-core/src/domain/actions.rs
  crates/tasklens-core/src/domain/dispatch.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/compliance/fixtures/lead-time-inheritance.feature.yaml
  crates/tasklens-store/src/adapter/tests/adapter_test_common.rs
Due: prettier --write, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 14:08:49
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 17:22:55
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

fix(core): remove legacy TunnelState fields
  crates/tasklens-core/src/domain/balance.rs
  crates/tasklens-core/src/domain/doc_bridge.rs
  crates/tasklens-core/src/domain/lifecycle.rs
  crates/tasklens-core/src/domain/routine_tasks.rs
  crates/tasklens-core/src/domain/visibility.rs
  crates/tasklens-core/src/types.rs
  crates/tasklens-core/tests/compliance.rs
  crates/tasklens-core/tests/fixtures/medieval_tasks.json
  crates/tasklens-store/src/adapter.rs
  crates/tasklens-store/src/store/tests.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 18:40:13
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 18:46:09
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 18:50:11
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

bd daemon sync: 2026-02-02 18:50:18
  .beads/issues.jsonl
Due: ./scripts/check-filenames.sh --files

fix: add dark mode theming to all UI components
  Cargo.lock
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/loading.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  justfile
  scripts/lint-dark-mode.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Nacent thoughts on tailwind
  docs/design/unfinished-thoughts/tailwind.md
Due: prettier --write, ./scripts/check-filenames.sh --files

integrate daisyui v5 with tailwind v4
  biome.json
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/package.json
  crates/tasklens-ui/src/components/balance_slider.rs
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/input.rs
  crates/tasklens-ui/src/components/loading.rs
  crates/tasklens-ui/src/components/select/mod.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/tailwind.css
  docs/design/unfinished-thoughts/tailwind.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, prettier --write, ./scripts/check-filenames.sh --files

Convert TaskEditor dependencies to DaisyUI
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/button.rs
  crates/tasklens-ui/src/components/date_picker/component.rs
  crates/tasklens-ui/src/components/date_picker/style.css
  crates/tasklens-ui/src/components/dialog/component.rs
  crates/tasklens-ui/src/components/dialog/style.css
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/select/component.rs
  crates/tasklens-ui/src/components/select/style.css
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/tailwind.css
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

fix: add dark mode theming to all UI components
  Cargo.lock
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/do_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
  justfile
  scripts/lint-dark-mode.ts
  scripts/package.json
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Migrate plan page components to DaisyUI
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/tests/e2e/pages/plan-page.ts
Due: biome check --write --no-errors-on-unmatched, eslint --fix, ./scripts/check-filenames.sh --files

Migrate work page and components to DaisyUI
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/load_error_view.rs
  crates/tasklens-ui/src/components/move_picker.rs
  crates/tasklens-ui/src/components/page_header.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/views/do_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files

Update crates/tasklens-ui/src/components/priority_task_row.rs
  crates/tasklens-ui/src/components/priority_task_row.rs
Due: ./scripts/check-filenames.sh --files

Migrate tasklens-ui components to DaisyUI
  crates/tasklens-ui/assets/tailwind.css
  crates/tasklens-ui/src/components/alert.rs
  crates/tasklens-ui/src/components/app_navbar.rs
  crates/tasklens-ui/src/components/checkbox.rs
  crates/tasklens-ui/src/components/doc_id_manager.rs
  crates/tasklens-ui/src/components/sync_indicator.rs
  crates/tasklens-ui/src/components/task_editor.rs
  crates/tasklens-ui/src/components/task_row.rs
  crates/tasklens-ui/src/views/auth.rs
  crates/tasklens-ui/src/views/balance_page.rs
  crates/tasklens-ui/src/views/plan_page.rs
  crates/tasklens-ui/src/views/task_page.rs
Due: biome check --write --no-errors-on-unmatched, ./scripts/check-filenames.sh --files
